<span class="teaser-info {{ styleModifier|default('') }}">
  {% if type == 'state' or type == 'media-icon' %}
    {% if type == 'media-icon' %}<span class="h-offscreen">Mit </span>{% endif %}{{ text|default('') }}
  {% elseif type == 'media-caption' %}
    <span class="teaser-info__media-duration"><strong>{{ mediaDuration|default('') }}</strong> min, </span>
    <span class="teaser-info__media-source"><strong>{{ mediaSource|default('') }}</strong> vom {{ mediaDate|default('') }}</span>
  {% endif %}
</span>
