<h2 class="h-offscreen">Zitat</h2>
<blockquote class="blockquote {{ styleModifier }}">
    <div class="blockquote__quote">
        <span class="blockquote__text">{{ blockquote.text }}</span>
    </div>
    {% if blockquote.author or blockquote.function %}
    <footer class="blockquote__footer">
        <cite>
            {% if blockquote.author %}
                <span class="blockquote__author"><span class="h-offscreen">{{ 'Autor: ' }}</span>{{ blockquote.author }}</span>
            {% endif %}
            {% if blockquote.function %}
                <span class="blockquote__function">{{ blockquote.function }}</span>
            {% endif %}
        </cite>
    </footer>
    {% endif %}
</blockquote>