{% if styleModifier == 'RelatedEpisodes' %}
    <div class="article-video__wrapper">
        {% block video_image_related_episodes %}
            <img class="image-figure__image"
                 alt="{{ 'Video' }} «{{ video.title }}» {{ 'abspielen' }}" {# this should go into the image container (cms) #}
                 title="{{ 'Video' }} «{{ video.title }}» {{ 'abspielen' }}"
                 sizes="100vw"
                 srcset="{% for source in video.img_srcset %}
                            {{ source.src }} {{ source.width }}w
                            {{ loop.last ? '' : ',' }}
                         {% endfor %}"
                 src="{{ video.img_src }}">
        {% endblock %}

        {% block plain_play_icon %}
            {% include 'atoms-play-icon' with { 'media': 'video' } %}
        {% endblock %}
    </div>
{% else %}
    <figure class="image-figure {{ styleModifier }}">
        <div class="{% if styleModifier == 'video--playing' %}article-video__player{% else %}image-figure__image-wrapper{% endif %}">
            {% block video_image %}
                <img class="image-figure__image"
                     alt="{{ 'Video «' ~ video.title ~ '» abspielen' }}"
                     title="{{ 'Video «' ~ video.title ~ '» abspielen' }}"
                     sizes="100vw"
                     srcset="{% for source in video.img_srcset %}
                            {{ source.src }} {{ source.width }}w
                            {{ loop.last ? '' : ',' }}
                         {% endfor %}"
                     src="{{ video.img_src }}">
            {% endblock %}

            {% include 'molecules-play-icon-with-runtime' with { 'media': 'video', 'runtime': video.length } %}
        </div>
    </figure>
{% endif %}
