<a class="article-video__link" href="{{ video.player_url }}/srf/popup?urn={{ video.urn }}&autoplay=true">
    <figure class="article-video {{ styleModifierMain }}">

        {% include 'molecules-video-image-figure' with {
            'styleModifier': styleModifier,
            'images': [images[2]]
            }
        %}

        <figcaption class="media-caption media-caption--video{{ styleModifier == 'RelatedEpisodes' ? '-related-episodes' : '' }}">
            <span class="h-offscreen">{{ 'Legende:'|trans }}</span>
            <div class="media-caption__title media-caption__title--video">{{ video.title }}</div>
            <div class="media-caption__source media-caption__source--video">Aus <strong>{{ video.show.title }}</strong> vom {{ video.show.date|date("d.m.Y")  }}</div>
        </figcaption>
    </figure>
</a>
