<h3 class="h-offscreen">{{ 'Bildergalerie' }}</h3>
<span class="h-offscreen">{{ 'Bildergalerie enthält' }} {{ images|length }} {{ 'Bilder' }}</span>
<div class="carousel-container">
    <div class="carousel js-slick" id="{{ image_carousel.ID }}">
        {% for image in images %}
            <div class="carousel__item js-slick-item">
                {% include 'molecules-image-figure' with {
                    'styleModifier': imageCaptionStyle ~ " image-figure--indicator",
                    'images': [image],
                    'currentIndex': loop.index,
                    'totalCount': loop.length,
                } %}
            </div>
        {% endfor %}
    </div>
</div>
