{% if demo|default(false)%}
    {% set caption = "Spielstand" %}
    {% set competitorCaption = "Spieler/in" %}
    {% set competitors = [
        {
            "name": "Nicole Prascovia Elikolani Valiente Scherzinger",
            "emblem": "../../assets/demo/img/emblems/SUI.png",
            "emblemAlt": "SUI",
            "modifier": "scoreboard__competitor--winner",
            "scores": [
                {
                    "value": 6,
                    "modifier": ""
                }, {
                    "value": 6,
                    "modifier": "score--winner",
                    "supplementTitle": "Tie break points",
                    "supplementScore": 7
                }, {
                    "value": 6,
                    "modifier": "score--live"
                }
            ]
        }, {
            "name": "Pierre-Huegues Herbert",
            "emblem": "../../assets/demo/img/emblems/FRA.png",
            "emblemAlt": "FRA",
            "scores": [
                {
                    "value": 6,
                    "modifier": "score--winner"
                }, {
                    "value": 6,
                    "modifier": "",
                    "supplementTitle": "Tie break points",
                    "supplementScore": 7
                }, {
                    "value": 6,
                    "modifier": "score--winner score--live"
                }
            ]
        }
    ] %}
    {% set scoreTitles = ["1. Satz", "2. Satz", "3. Satz"] %}
{% endif %}

<div class="h-offscreen">{{ caption|default("Spielstand") }}</div>
<div class="scoreboard">
    {% spaceless %}
    {% for competitor in competitors|default([]) %}
        <div class="scoreboard__row">
            <div class="scoreboard__competitor {{ competitor.modifier|default('') }}">
                <span class="h-offscreen">{{ competitorCaption|default("Spieler/in") }}:</span>
                <span class="scoreboard__competitor-wrapper">
                    {% if competitor.rank is defined %}
                        <span class="scoreboard__rank">{{ competitor.rank }}</span>
                    {% endif %}
                    {% if competitor.emblem is defined %}
                        <span class="scoreboard__emblem">
                            <img
                                alt="{{ competitor.emblemAlt|default("") }}"
                                title="{{ competitor.emblemAlt|default("") }}"
                                src="{{ competitor.emblem }}"
                            >
                        </span>
                    {% endif %}
                    <span class="scoreboard__name">{{ competitor.name|default("") }}</span>
                </span>
                <span class="scoreboard__competitor-mask"></span>
            </div>

            {% for score in competitor.scores|default([]) %}
                <div class="scoreboard__score {{ competitor.modifier|default('') }}">
                    <span class="h-offscreen">{{ scoreTitles[loop.index0]|default("") }}</span>
                    {% if score.supplementScore|default(null) %}
                        {% include 'atoms-score--with-supplement' with {
                            "scoreValue": score.value,
                            "styleModifier": score.modifier,
                            "supplementScore": score.supplementScore,
                            "supplementTitle": score.supplementTitle
                        } %}
                    {% else %}
                        {% include 'atoms-score' with {
                            "scoreValue": score.value,
                            "styleModifier": score.modifier
                        } %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% endspaceless %}
</div>
