<div class="polis-districts-wrapper" style="display:none" id="infowindow-{{ vote.id }}">
    {# Kantone werden nur angezeigt, wenn Endresultat da #}
    <p class="polis-result-title polis-result-title--canton">{{ polis.final_result }}
        <span class="polis-result-title--canton-name"></span>
        <span class="polis-result-title--canton-time"></span>
    </p>
    <ul {# id="result-canton-{{ vote.location.shortName }}" #}
            class="polis-result-container polis-result-container--canton polis-result-container--hide">
        <li class="polis-result polis-result--yes js-polis-result-total--yesBar">
            <p class="polis-result__title polis-result__title--yes">{{ polis.yes }}</p>
            <div class="polis-result__bar polis-result__bar--yes">
                <p class="polis-result-relativ"><span
                            class="polis-result-relativ__number js-polis-result-total-relativeYes"></span>%</p>
            </div>
            <p class="polis-result__text">
                <span class="js-polis-result-total--absoluteYes"></span> {{ polis.votes }}
            </p>
        </li>
        <li class="polis-result polis-result--no js-polis-result-total--noBar">
            <p class="polis-result__title polis-result__title--no">{{ polis.no }}</p>
            <div class="polis-result__bar polis-result__bar--no">
                <p class="polis-result-relativ"><span
                            class="polis-result-relativ__number js-polis-result-total-relativeNo"></span>%</p>
            </div>
            <p class="polis-result__text">
                <span class="js-polis-result-total--absoluteNo"></span> {{ polis.votes }}
            </p>
        </li>
    </ul>
    <ul class="polis-district-container">
        <li class="polis-district">
            <span class="polis-district__name">{# vote.location.locationName #}</span>
            <span class="polis-district__votes{# yes_class #}">{# vote.relative.yes polis.yes #}</span>
            <span class="polis-district__votes{# no_class #}">{# vote.relative.no polis.no #}</span>
        </li>
    </ul>
</div>
