{# set voteId fallback: so FeF and CMS can use the same twig #}
{% set voteId = vote is defined ? vote.id : votes|keys|last %}
{% set vote = vote is defined ? vote : votes[voteId] %}
<div class="polis-container" data-final-result="Endresultat" data-intermediate-result="Zwischenresultat">
    <div class="polis-map-container">
        <h2 class="polis-map-container__title">{{ vote.shortTitle }}</h2>
        <p class="polis-map-container__info">{{ vote.title }}</p>
        {# Endresultat #}
        <p class="polis-result-title polis-result-title--main js-polis-result-total--statusline">
            <span class="polis-result-title__type"></span>&nbsp;
            <time class="polis-result-title__time"></time>
        </p>
        {% set resultRelativeYes = vote.results.nationalResults.relative.yes|number_format(1, '.', '') %}
        {% set resultRelativeNo = vote.results.nationalResults.relative.no|number_format(1, '.', '') %}
        <ul class="polis-result-container polis-result-container--main">
            <li class="polis-result polis-result--yes js-polis-result-total--yesBar"
                style="width: {{ resultRelativeYes }}%">
                <p class="polis-result__title polis-result__title--yes">{{ polis.yes }}</p>
                <div class="polis-result__bar polis-result__bar--main polis-result__bar--yes">
                    <p class="polis-result-relativ"><span
                                class="polis-result-relativ__number js-polis-result-total-relativeYes">{{ resultRelativeYes }}</span>%
                    </p>
                </div>
                <p class="polis-result__text">
                    <span class="js-polis-result-total--absoluteYes">
                        {{ vote.results.nationalResults.absolute.yes|number_format(0, '', '\'') }}
                    </span>
                    {{ polis.votes }}
                </p>
            </li>
            <li class="polis-result polis-result--no polis-result--yes js-polis-result-total--noBar"
                style="width: {{ resultRelativeNo }}%">
                <p class="polis-result__title polis-result__title--no">{{ polis.no }}</p>
                <div class="polis-result__bar polis-result__bar--main polis-result__bar--no">
                    <p class="polis-result-relativ"><span
                                class="polis-result-relativ__number js-polis-result-total-relativeNo">{{ resultRelativeNo }}</span>%
                    </p>
                </div>
                <p class="polis-result__text">
                    <span class="js-polis-result-total--absoluteNo">
                        {{ vote.results.nationalResults.absolute.no|number_format(0, '', '\'') }}
                    </span>
                    {{ polis.votes }}
                </p>
            </li>
        </ul>
        {% if vote.needsCantonalMajority %}
            <p class="polis-result-title">{{ polis.Standesstimmen }}</p>
            {% set resultAbsoluteYes = vote.cantonalResult.absolute.yes|number_format(1, '.', '') %}
            {% set resultAbsoluteNo = vote.cantonalResult.absolute.no|number_format(1, '.', '') %}
            <ul class="polis-result-container polis-result-cantonalmajority">
                <li class="polis-result polis-result--yes js-polis-result-cantonalmajority--yesBar"
                    style="width: {{ resultAbsoluteYes / 23 * 100 }}%">
                    <span class="h-offscreen">{{ polis.yes }}</span>
                    <div class="polis-result__bar polis-result__bar--yes">
                        <p class="polis-result-relativ"><span
                                    class="polis-result-relativ__number js-polis-result-cantonalmajority-yesResult">{{ resultAbsoluteYes }}</span>
                        </p>
                    </div>
                </li>
                <li class="polis-result polis-result--default" role="presentation" aria-hidden="true"
                    style="width: {{ (23 - resultAbsoluteYes - resultAbsoluteNo) / 23 * 100 }}%">{# if not all are there yet #}</li>
                <li class="polis-result polis-result--no js-polis-result-cantonalmajority--noBar"
                    style="width: {{ resultAbsoluteNo / 23 * 100 }}%">
                    <span class="h-offscreen">{{ polis.no }}</span>
                    <div class="polis-result__bar polis-result__bar--no">
                        <p class="polis-result-relativ"><span
                                    class="polis-result-relativ__number js-polis-result-cantonalmajority-noResult">{{ resultAbsoluteNo }}</span>
                        </p>
                    </div>
                </li>
            </ul>
        {% endif %}

        <figure id="{{ voteId }}" class="polis-map" data-vote="{{ voteId }}" data-api="{{ polis.src }}" data-has-cantonal-majority="{{ vote.needsCantonalMajority }}"
                aria-hidden="true">
            {% block polis_map %}
                {% include "elements-chmap.svg" with { 'idReference': voteId } %}
            {% endblock %}

            <p class="polis-map__participation{% if vote.results.nationalResults.relative.participation == 0 %} polis--hide{% endif %}">
                {{ polis.turnout }} <span
                        class="js-polis-participation">{{ vote.results.nationalResults.relative.participation }}</span>%
                </p>

            {% block polis_legend %}
                {% include "_polis-legend.twig" %}
            {% endblock %}

        </figure>
    </div>
    {# Abstand ... #}
    <div class="polis-cantons-container">
        {% block polis_elements_select %}
            {% include 'elements-select' with { 'styleModifier': 'js-polis-menu menu--inactive', 'menu': menu, 'fieldID': 'menu-' ~ vote.id } %}
        {% endblock %}
        {% block polis_districts %}
            {% include '_polis-districts.twig' %}
        {% endblock %}
    </div>
</div>