<div class="polis-container">
    <div class="polis-map-container">
        <h2 class="polis-map-container__title">{{ votes.3900.shortTitle }}</h2>
        <p class="polis-map-container__info">{{ votes.3900.title }}</p>
        {# Endresultat #}
        <p class="polis-result-title">
            <span class="polis-result-title__type">{% if voteCase.active %}{{ polis.result }}{% else %}{{ polis.final_result }}{% endif %}</span>&nbsp;
            <time class="polis-result-title__time">{% if voteCase.active %}{{ votes.3900.results.nationalResults.update|date("H:i") }}{% else %} {{ polis.at }} {{ voteCase.update|date("d.m.Y") }}{% endif %}</time>
        </p>
        {% set resultRelativeYes = votes.3900.results.nationalResults.relative.yes|number_format(1, '.', '') %}
        {% set resultRelativeNo = votes.3900.results.nationalResults.relative.no|number_format(1, '.', '') %}
        <ul class="polis-result-container">
            <li class="polis-result polis-result--yes" style="width: {{ resultRelativeYes }}%">
                <p class="polis-result__title polis-result__title--yes">{{ polis.yes }}</p>
                <div class="polis-result__bar polis-result__bar--main polis-result__bar--yes">
                    <p class="polis-result-relativ"><span
                                class="polis-result-relativ__number">{{ resultRelativeYes }}</span>%</p>
                </div>
                <p class="polis-result__text">
                    {{ votes.3900.results.nationalResults.absolute.yes|number_format(0, '', '\'') }} {{ polis.votes }}
                </p>
            </li>
            <li class="polis-result polis-result--no" style="width: {{ resultRelativeNo }}%">
                <p class="polis-result__title polis-result__title--no">{{ polis.no }}</p>
                <div class="polis-result__bar polis-result__bar--main polis-result__bar--no">
                    <p class="polis-result-relativ"><span
                                class="polis-result-relativ__number">{{ resultRelativeNo }}</span>%</p>
                </div>
                <p class="polis-result__text">
                    {{ votes.3900.results.nationalResults.absolute.no|number_format(0, '', '\'') }} {{ polis.votes }}
                </p>
            </li>
        </ul>
        {% if votes.3900.needsCantonalMajority %}
            <p class="polis-result-title">{{ polis.Standesstimmen }}</p>
            {% set resultAbsoluteYes = votes.3900.cantonalResult.absolute.yes|number_format(1, '.', '') %}
            {% set resultAbsoluteNo = votes.3900.cantonalResult.absolute.no|number_format(1, '.', '') %}
            <ul class="polis-result-container">
                <li class="polis-result polis-result--yes" style="width: {{ resultAbsoluteYes / 23 * 100 }}%">
                    <span class="h-offscreen">{{ polis.yes }}</span>
                    <div class="polis-result__bar polis-result__bar--yes">
                        <p class="polis-result-relativ"><span
                                    class="polis-result-relativ__number">{{ resultAbsoluteYes }}</span></p>
                    </div>
                </li>
                <li class="polis-result polis-result--default" role="presentation" aria-hidden="true"
                    style="width: {{ (23 - resultAbsoluteYes - resultAbsoluteNo) / 23 * 100 }}%">{# if not all are there yet #}</li>
                <li class="polis-result polis-result--no" style="width: {{ resultAbsoluteNo / 23 * 100 }}%">
                    <span class="h-offscreen">{{ polis.no }}</span>
                    <div class="polis-result__bar polis-result__bar--no">
                        <p class="polis-result-relativ"><span
                                    class="polis-result-relativ__number">{{ resultAbsoluteNo }}</span></p>
                    </div>
                </li>
            </ul>
        {% endif %}

        <figure id="map-1453" class="polis-map" data-vote="3893" data-api="../../assets/demo/polis-data.json"
                aria-hidden="true">
            {% include "elements-chmap.svg" with { 'idReference': 'results-canton' } %}
            {% if votes.3900.results.nationalResults.relative.participation > 0 %}
                <p class="polis-map__participation">
                    {{ polis.turnout }} {{ votes.3900.results.nationalResults.relative.participation }}%
                </p>
            {% endif %}

            {% include "_polis-legend.twig" %}

        </figure>
    </div>
    {# Abstand ... #}
    <div class="polis-cantons-container">
        {% include 'elements-select' with { 'menu': menu } %}
        {% include '_polis-districts.twig' %}
    </div>{# end polis-cantons-container => only for prototype!!! #}
</div>