{% set voteId = votes|keys|last %}
<div class="polis-container">
    <div class="polis-map-container">
        <h2 class="polis-map-container__title">{{ votes[voteId].shortTitle }}</h2>
        <p class="polis-map-container__info">{{ votes[voteId].title }}</p>
        {# Endresultat #}
        <p class="polis-result-title polis-result-total--statusline">
            <span class="polis-result-title__type"></span>&nbsp;
            <time class="polis-result-title__time"></time>
        </p>
        {% set resultRelativeYes = votes[voteId].results.nationalResults.relative.yes|number_format(1, '.', '') %}
        {% set resultRelativeNo = votes[voteId].results.nationalResults.relative.no|number_format(1, '.', '') %}
        <ul class="polis-result-container polis-result-container--main">
            <li class="polis-result polis-result--yes polis-result-total--yesBar"  style="width: {{ resultRelativeYes }}%">
                <p class="polis-result__title polis-result__title--yes">{{ polis.yes }}</p>
                <div class="polis-result__bar polis-result__bar--main polis-result__bar--yes">
                    <p class="polis-result-relativ"><span
                                class="polis-result-relativ__number polis-result-total-relativeYes">{{ resultRelativeYes }}</span>%</p>
                </div>
                <p class="polis-result__text">
                    <span class="polis-result-total--absoluteYes">
                        {{ votes[voteId].results.nationalResults.absolute.yes|number_format(0, '', '\'') }}
                    </span>
                    {{ polis.votes }}
                </p>
            </li>
            <li class="polis-result polis-result--no polis-result--yes polis-result-total--noBar" style="width: {{ resultRelativeNo }}%">
                <p class="polis-result__title polis-result__title--no">{{ polis.no }}</p>
                <div class="polis-result__bar polis-result__bar--main polis-result__bar--no">
                    <p class="polis-result-relativ"><span
                                class="polis-result-relativ__number polis-result-total-relativeNo">{{ resultRelativeNo }}</span>%</p>
                </div>
                <p class="polis-result__text">
                    <span class="polis-result-total--absoluteNo">
                        {{ votes[voteId].results.nationalResults.absolute.no|number_format(0, '', '\'') }}
                    </span>
                    {{ polis.votes }}
                </p>
            </li>
        </ul>
        {% if votes[voteId].needsCantonalMajority %}
            <p class="polis-result-title">{{ polis.Standesstimmen }}</p>
            {% set resultAbsoluteYes = votes[voteId].cantonalResult.absolute.yes|number_format(1, '.', '') %}
            {% set resultAbsoluteNo = votes[voteId].cantonalResult.absolute.no|number_format(1, '.', '') %}
            <ul class="polis-result-container polis-result-cantonalmajority">
                <li class="polis-result polis-result--yes polis-result-cantonalmajority--yesBar" style="width: {{ resultAbsoluteYes / 23 * 100 }}%">
                    <span class="h-offscreen">{{ polis.yes }}</span>
                    <div class="polis-result__bar polis-result__bar--yes">
                        <p class="polis-result-relativ"><span
                                    class="polis-result-relativ__number polis-result-cantonalmajority-yesResult">{{ resultAbsoluteYes }}</span></p>
                    </div>
                </li>
                <li class="polis-result polis-result--default" role="presentation" aria-hidden="true"
                    style="width: {{ (23 - resultAbsoluteYes - resultAbsoluteNo) / 23 * 100 }}%">{# if not all are there yet #}</li>
                <li class="polis-result polis-result--no polis-result-cantonalmajority--noBar" style="width: {{ resultAbsoluteNo / 23 * 100 }}%">
                    <span class="h-offscreen">{{ polis.no }}</span>
                    <div class="polis-result__bar polis-result__bar--no">
                        <p class="polis-result-relativ"><span
                                    class="polis-result-relativ__number polis-result-cantonalmajority-noResult">{{ resultAbsoluteNo }}</span></p>
                    </div>
                </li>
            </ul>
        {% endif %}

        <figure id="{{ voteId }}" class="polis-map" data-vote="{{ voteId }}" data-api="{{ polis.src }}" data-has-cantonal-majority="{{ votes[voteId].needsCantonalMajority }}"
                aria-hidden="true">
            {% block polis_map %}
                {% include "elements-chmap.svg" with { 'idReference': 'results-canton' } %}
            {% endblock %}
            {% if votes[voteId].results.nationalResults.relative.participation > 0 %}
                <p class="polis-map__participation">
                    {{ polis.turnout }} {{ votes[voteId].results.nationalResults.relative.participation }}%
                </p>
            {% endif %}

            {% block polis_legend %}
                {% include "_polis-legend.twig" %}
            {% endblock %}

        </figure>
    </div>
    {# Abstand ... #}
    <div class="polis-cantons-container">
        {% block polis_elements_select %}
            {% include 'elements-select' with { 'menu': menu } %}
        {% endblock %}
        {% block polis_districts %}
            {% include '_polis-districts.twig' %}
        {% endblock %}
    </div>
</div>