<div class="modal {{ styleModifier|default("") }} js-modal {{ jsHooks|default("") }}"
     data-id="{{ id|default("") }}"
     data-animation="{{ animation|default("") }}">
  <div class="modal__overlay js-modal-overlay"></div>

  <div class="modal-main-wrapper {{ styleModifierModalWrapper|default("") }} js-modal-main-wrapper">
    <div class="modal-main-content js-modal-main-content">
      {% block content %}
        <span class="h-offscreen js-focus-target">Modal-Titel</span>

        <div class="modal__head modal-wrapper">
          <h1>{{ title | default("Your header could be here!") }}</h1>
        </div>

        <div class="modal__body modal-wrapper">
          <p>And your content could be here!</p>
        </div>
      {% endblock %}
    </div>
  </div>
</div>
