<button class="button {{ className|default("") }} {{ styleModifier|default("") }}" {{ additionalAttributes|default("") }}>
  <span class="h-offscreen">{{ screenReaderText|default("Screenreader-Text für Schaltfläche") }}</span>
  <div class="button-wrapper">
    <span class="button-icon"></span>
    <span class="button-text">{{ buttonText|default("Senden") }}</span>
  </div>
</button>