{% set alt = alt is defined ? alt : image.caption.title %}
{% set src = src is defined ? src : image.sources.s8.src %}
{% spaceless %}
<div class="image-figure__image-wrapper imageType-{{ imageType|default('article_body_fullwidth') }}">
    <img class="image-figure__image"
         alt="{{ alt }}"
         title="{{ alt }}"
         sizes="{{ sizes }}"
            {% if image.sources is defined %}
                {% set imageSources = [] %}
                {% for source in image.sources %}
                    {% set imageSource = source.src ~ ' ' ~ source.width ~ 'w' %}
                    {% set imageSources = imageSources|merge([imageSource]) %}
                {% endfor %}
                srcset="{{ imageSources|join(',') }}"
            {% endif %}
         src="{{ src }}">
</div>
{% endspaceless %}
