<figcaption class="media-caption {{ styleModifier }}">
        <span class="h-offscreen">{{ 'Legende:'|trans }}</span>
        {% if image.caption.title %}
                <span class="media-caption__title">
                    {{ image.caption.title }}
                </span>
        {% endif %}

        {% if image.caption.description %}
                <span class="media-caption__description">
                    {{ image.caption.description }}
                </span>
        {% endif %}

        {% if image.caption.source %}
                <span class="media-caption__source">
                    {% if image.caption.source_link %}
                        <a class="media-caption__source-link" href="{{ image.caption.source_link }}" target="_blank">
                    {% endif %}
                        {{ image.caption.source }}
                    {% if image.caption.source_link %}
                        </a>
                    {% endif %}
                </span>
        {% endif %}
</figcaption>
