{% set showOpinion = showOpinion|default(false) and teaser.opinion is defined %}
{% set infoStyleModifier = infoStyleModifier|default('') %}
{% if 'teaser--size-l' in styleModifier or 'teaser--size-xl' in styleModifier %}
    {% set infoStyleModifier = infoStyleModifier ~ ' teaser-info--size-large' %}
{% endif %}
{% set stationLogo = stationLogo|default(random(['tv-srf-1', 'tv-srf-zwei', 'tv-srf-info'])) %}


<div class="teaser js-teaser {{ styleModifier|default('teaser--size-m teaser--size-s-on-mobile') }} {{ showOpinion ? 'teaser--with-opinion' }}">
    <a class="teaser__main" href="{{ teaser.link|default('#') }}">

        {# MEDIUM #}
        {% embed "ratio.twig" with {
            'class': 'teaser__medium-wrapper',
            'ratio': '16:9'
        } %}
            {% block ratio_content %}
                <div class="teaser__medium">
                    <div class="image image--media-still-dynamic">
                        <img src="{{ teaser.image|default('') }}" alt="{{ teaser.title|default('') }}" />
                    </div>
                </div>
            {% endblock %}
        {% endembed %}

        {# SHIMMER #}
        <div class="teaser__content-shimmer h-loading-only">
            {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--overline'} %}
            {% include 'atoms-shimmer' with {'styleModifier': ''} %}
            {% include 'atoms-shimmer' with {'styleModifier': ''} %}
            {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--short'} %}
        </div>

        {# CONTENT #}
        <div class="teaser__content">

            {# BROADCAST INFO #}
            {% if broadcastInfo %}
                <div class="teaser__broadcast-info">
                    <span class="teaser__station-logo"><img src="{{ frameworkAssetPath ~ '/img/stationlogos/' ~ stationLogo ~ '.svg' }}" alt="SRF (1|zwei|info)"></span>
                    <span class="teaser__broadcast-slot">Morgen, 21:00</span>
                </div>
            {% endif %}

            {# PREKICKER #}
            {% if preKicker %}<span class="h-offscreen" data-iefix="teaser__prekicker--fixed-for-ie"><strong>{{ preKicker }}</strong></span>{% endif %}

            {# KICKER #}
            {% if labelWording or teaser.kicker %}
            <div class="teaser__kicker">
                {% if labelWording %}
                    {% include 'atoms-teaser-label' with {'labelWording': labelWording, 'labelTime': labelTime, 'styleModifierType': styleModifierType, 'styleModifierSize': styleModifier} %}
                {% endif %}

                <span class="teaser__kicker-text">{{ teaser.kicker|default('') }}</span>
            </div>
            {% endif %}

            {# TEXTCONTENT #}
            <span class="teaser__title">{{ teaser.title|default('') }}</span>
            {% if teaser.subtitle %}
                <span class="teaser__subtitle">{{ teaser.subtitle }}</span>
            {% endif %}
            <p class="teaser__lead">{{ teaser.lead|default('') }}</p>

            {# TEASERINFO/STATUS #}
            <div class="teaser-info-wrapper">
              <div class="teaser-info-innerwrapper">
                {% include 'atoms-teaser-info' with {
                    'type': infoType,
                    'styleModifier': infoStyleModifier,
                    'text': infoText|default(''),
                    'mediaDuration': infoMediaDuration,
                    'mediaSource': infoMediaSource,
                    'mediaTime': infoMediaTime
                } %}
            </div>
            </div>
        </div>

        {# SCOREBOARD #}
        {% if showScoreboard|default(false) %}
            <div class="teaser__scoreboard">
                {% include 'molecules-scoreboard' %}
            </div>
        {% endif %}

        {# OPINION #}
        {% if showOpinion %}
            <div class="teaser__opinion">
                {% include 'atoms-image' with { 'styleModifier': 'image--circle image--profile-picture-small' } %}
                {% include 'atoms-person-details' %}
            </div>
        {% endif %}
    </a>

    {# TEASER LINKS #}
    {% if showLinks|default(false) %}
    <div class="teaser__links">
        {% include 'atoms-block-link' with { 'styleModifier': 'block-link--teaser-link block-link--internal' } %}
        {% include 'atoms-block-link' with { 'styleModifier': 'block-link--teaser-link block-link--audio' } %}
        {% include 'atoms-block-link' with { 'styleModifier': 'block-link--teaser-link block-link--video' } %}
    </div>
    {% endif %}
</div>
