{% set mediumType = mediumType|default('video') %}
<div class="teaser teaser--with-medium {{ styleModifier|default('teaser--size-m teaser--size-s-on-mobile') }}">
    <a class="teaser__main" href="{{ teaser.link|default('#') }}">
        <div class="teaser__medium-wrapper">
            <div class="teaser__medium">
                {#
                {% include 'molecules-media-still--dynamic' with { 'mediumType': mediumType } %}
                #}
                {% if 'teaser--size-s-on-mobile' in styleModifier %}
                    {% include 'molecules-media-still--compact' with { 'mediumType': mediumType } %}
                {% elseif 'teaser--size-s' in styleModifier %}
                    {% include 'molecules-media-still--compact' with { 'mediumType': mediumType, 'styleModifier': 'media-still--force-square' } %}
                {% else %}
                    {% include 'molecules-media-still--video' with { 'mediumType': mediumType } %}
                {% endif %}
            </div>
        </div>

        <div class="teaser__content-shimmer h-loading-only">
            {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--overline'} %}
            {% include 'atoms-shimmer' with {'styleModifier': ''} %}
            {% include 'atoms-shimmer' with {'styleModifier': ''} %}
            {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--short'} %}
        </div>

        <div class="teaser__content">
            <h4 class="teaser__kicker">{{ teaser.kicker|default('') }}</h4>
            <h3 class="teaser__title">{{ teaser.title|default('') }}</h3>
            <p class="teaser__media-caption-source">{{ teaser.mediaCaptionSource|default('Lorem ipsum dolor') }}</p>
        </div>
    </a>
</div>