<a href="{{ teaser.link|default("#") }}" class="teaser">
    <div class="teaser__image-wrapper">
        <img src="{{ teaser.image|default("") }}" alt="{{ teaser.title|default("") }}" class="teaser__image" />
    </div>

    <div class="teaser__content">
        <h4 class="teaser__title">{{ teaser.title|default("") }}</h4>
        <p class="teaser__kicker">{{ teaser.kicker|default("") }}</p>
        <p class="teaser__lead">{{ teaser.lead|default("") }}</p>
    </div>
</a>
