{% set styleModifier = styleModifier|default("teaser--size-m")  %}

{% if 'teaser--size-s' in styleModifier %}
    {% set styleModifier = 'teaser--size-m' %}
{% endif %}

<div class="teaser teaser--theme-dark teaser--longform {{ styleModifier }}">

    <div class="teaser__image-loader js-teaser-image-loader">
        <img src="{{ teaser.image|default('') }}" />
    </div>

    <div class="teaser__content-shimmer h-loading-only">
        {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--overline'} %}
        {% include 'atoms-shimmer' with {'styleModifier': ''} %}
        {% include 'atoms-shimmer' with {'styleModifier': ''} %}
        {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--short'} %}
    </div>

    <div class="teaser__main-wrapper">
        <a class="teaser__main" href="{{ teaser.link|default('#') }}">
            <div class="teaser__content">
                {% if preKicker %}<span class="h-offscreen" data-iefix="teaser__prekicker--fixed-for-ie"><strong>{{ preKicker }}</strong></span>{% endif %}

                <h4 class="teaser__kicker">
                    {% if labelWording %}
                        {% include 'atoms-teaser-label' with {'labelWording': labelWording, 'labelTime': labelTime, 'styleModifierType': styleModifierType, 'styleModifierSize': styleModifier} %}
                    {% endif %}

                    <span class="teaser__kicker-text">{{ teaser.kicker|default('') }}</span>
                </h4>
                <span class="teaser__title">{{ teaser.title|default('') }}</span>
                <p class="teaser__lead">{{ teaser.lead|default('') }}</p>
            </div>
        </a>
        {# TEASER LINKS #}
        {% if teaser.showLinks|default(false) %}
            <div class="teaser--longform__links">
                <div class="teaser__links">
                    {% include 'atoms-block-link' with { 'styleModifier': 'block-link--teaser-link block-link--internal' } %}
                    {% include 'atoms-block-link' with { 'styleModifier': 'block-link--teaser-link block-link--audio' } %}
                    {% include 'atoms-block-link' with { 'styleModifier': 'block-link--teaser-link block-link--video' } %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
