

<ul class="demo-fonts">
    <li>
        <span class="demo-text l-font-srg-light">{{ sampletext }}</span>
        <span class="demo-label">SRG SSR Light</span>
    </li>
    <li>
        <span class="demo-text l-font-srg-regular">{{ sampletext }}</span>
        <span class="demo-label">SRG SSR Regular</span>
    </li>
    <li>
        <span class="demo-text l-font-srg-medium">{{ sampletext }}</span>
        <span class="demo-label">SRG SSR Medium</span>
    </li>
    <li>
        <span class="demo-text l-font-srg-serif-regular">{{ sampletext }}</span>
        <span class="demo-label">SRG SSR Serif Regular</span>
    </li>
    <li>
        <span class="demo-text l-font-system">{{ sampletext }}</span>
        <span class="demo-label">System-Font-Stack</span>
    </li>
</ul>
