{% set globalColors =
  {
    'color-srf-red-50': {
      'hex': '#ffe6e6',
      'rgba': 'rgba(255,230,230,.5)'
    },
    'color-srf-red-300': {
      'hex': '#ff6669',
      'rgba': 'rgba(255,102,105,1)'
    },
    'color-srf-red-400': {
      'hex': '#f1434a',
      'rgba': 'rgba(241,67,74,1)'
    },
    'color-srf-red-500': {
      'hex': '#e31f2b',
      'rgba': 'rgba(227,31,43,1)'
    },
    'color-srf-red-600': {
      'hex': '#c91024',
      'rgba': 'rgba(201,16,36,1)'
    },
    'color-srf-red-600a00': {
      'hex': '#c91024',
      'rgba': 'rgba(201,16,36,0)',
      'alpha': '0%'
    },
    'color-srf-red-600a12': {
      'hex': '#c91024',
      'rgba': 'rgba(201,16,36,.12)',
      'alpha': '12%'
    },
    'color-srf-red-600a24': {
      'hex': '#c91024',
      'rgba': 'rgba(201,16,36,.24)',
      'alpha': '24%'
    },
    'color-srf-red-700': {
      'hex': '#af001e',
      'rgba': 'rgba(175,0,30,1)'
    },
    'color-srf-red-800': {
      'hex': '#8d0614',
      'rgba': 'rgba(141,6,20,1)'
    },
    'color-srf-red-900': {
      'hex': '#6a0b0c',
      'rgba': 'rgba(106,11,12,1)'
    },
    'color-srf-yellow-500': {
      'hex': '#f7a600',
      'rgba': 'rgba(247,166,0,1)'
    },
    'color-srf-yellow-700': {
      'hex': '#ed7004',
      'rgba': 'rgba(237,112,4,1)'
    },
    'color-srf-blue-200': {
      'hex': '#91ceff',
      'rgba': 'rgba(145,206,255,1)'
    },
    'color-srf-blue-400': {
      'hex': '#42a3f1',
      'rgba': 'rgba(66,163,241,1)'
    },
    'color-srf-blue-500': {
      'hex': '#1e8ce3',
      'rgba': 'rgba(30,140,227,1)'
    },
    'color-srf-blue-600': {
      'hex': '#1a7ac5',
      'rgba': 'rgba(26,122,197,1)'
    },
    'color-srf-warmgrey-10': {
      'hex': '#fafaf8',
      'rgba': 'rgba(250,250,248,1)'
    },
    'color-srf-warmgrey-10a00': {
      'hex': '#fafaf8',
      'rgba': 'rgba(250,250,248,0)',
      'alpha': '0%'
    },
    'color-srf-warmgrey-25': {
      'hex': '#f5f5f2',
      'rgba': 'rgba(245,245,242,1)'
    },
    'color-srf-warmgrey-50': {
      'hex': '#ebebe5',
      'rgba': 'rgba(235,235,229,1)'
    },
    'color-srf-warmgrey-100': {
      'hex': '#dadad2',
      'rgba': 'rgba(218,218,210,1)'
    },
    'color-srf-warmgrey-200': {
      'hex': '#cac8bf',
      'rgba': 'rgba(202,200,191,1)'
    },
    'color-srf-warmgrey-300': {
      'hex': '#b9b7ac',
      'rgba': 'rgba(185,183,172,1)'
    },
    'color-srf-warmgrey-300a12': {
      'hex': '#b9b7ac',
      'rgba': 'rgba(185,183,172,.12)',
      'alpha': '12%'
    },
    'color-srf-warmgrey-300a24': {
      'hex': '#b9b7ac',
      'rgba': 'rgba(185,183,172,.24)',
      'alpha': '24%'
    },
    'color-srf-warmgrey-700': {
      'hex': '#888579',
      'rgba': 'rgba(136,133,121,1)'
    },
    'color-srf-warmgrey-800': {
      'hex': '#6b6960',
      'rgba': 'rgba(107,105,96,1)'
    },
    'color-srf-warmgrey-900': {
      'hex': '#4e4d47',
      'rgba': 'rgba(78,77,71,1)'
    },
    'color-srf-warmgrey-1000': {
      'hex': '#383732',
      'rgba': 'rgba(56,55,50,1)'
    },
    'color-srf-warmgrey-1100': {
      'hex': '#22211d',
      'rgba': 'rgba(34,33,29,1)'
    },
    'color-srf-warmgrey-1100a00': {
      'hex': '#22211d',
      'rgba': 'rgba(34,33,29,0)',
      'alpha': '0%'
    },
    'color-srf-warmgrey-1100a12': {
      'hex': '#22211d',
      'rgba': 'rgba(34,33,29,.12)',
      'alpha': '12%'
    },
    'color-srf-warmgrey-1100a24': {
      'hex': '#22211d',
      'rgba': 'rgba(34,33,29,.24)',
      'alpha': '24%'
    },
    'color-srf-neutral-white': {
      'hex': '#ffffff',
      'rgba': 'rgba(255,255,255,1)'
    },
    'color-srf-neutral-whitea00': {
      'hex': '#ffffff',
      'rgba': 'rgba(255,255,255,0)',
      'alpha': '0%'
    },
    'color-srf-neutral-whitea08': {
      'hex': '#ffffff',
      'rgba': 'rgba(255,255,255,.08)',
      'alpha': '8%'
    },
    'color-srf-neutral-whitea12': {
      'hex': '#ffffff',
      'rgba': 'rgba(255,255,255,.12)',
      'alpha': '12%'
    },
    'color-srf-neutral-whitea24': {
      'hex': '#ffffff',
      'rgba': 'rgba(255,255,255,.24)',
      'alpha': '24%'
    },
    'color-srf-neutral-white80': {
      'hex': '#ffffff',
      'rgba': 'rgba(255,255,255,.8)',
      'alpha': '8%'
    },
    'color-srf-neutral-offwhite': {
      'hex': '#fefefd',
      'rgba': 'rgba(254,254,253,1)'
    },
    'color-srf-neutral-offwhitea00': {
      'hex': '#fefefd',
      'rgba': 'rgba(254,254,253,0)',
      'alpha': '0%'
    },
    'color-srf-neutral-01': {
      'hex': '#555555',
      'rgba': 'rgba(85,85,85,1)'
    },
    'color-srf-neutral-02': {
      'hex': '#333333',
      'rgba': 'rgba(51,51,51,1)'
    },
    'color-srf-neutral-03': {
      'hex': '#222222',
      'rgba': 'rgba(34,34,34,1)'
    },
    'color-srf-neutral-04': {
      'hex': '#111111',
      'rgba': 'rgba(17,17,17,1)'
    },
    'color-srf-neutral-black': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,1)'
    },
    'color-srf-neutral-blacka00': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,0)',
      'alpha': '0%'
    },
    'color-srf-neutral-blacka04': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.4)',
      'alpha': '4%'
    },
    'color-srf-neutral-blacka08': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.8)',
      'alpha': '8%'
    },
    'color-srf-neutral-blacka10': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.1)',
      'alpha': '10%'
    },
    'color-srf-neutral-blacka12': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.12)',
      'alpha': '12%'
    },
    'color-srf-neutral-blacka16': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.16)',
      'alpha': '16%'
    },
    'color-srf-neutral-blacka18': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.18)',
      'alpha': '18%'
    },
    'color-srf-neutral-blacka20': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.2)',
      'alpha': '20%'
    },
    'color-srf-neutral-blacka30': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.3)',
      'alpha': '30%'
    },
    'color-srf-neutral-blacka32': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.32)',
      'alpha': '32%'
    },
    'color-srf-neutral-blacka48': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.48)',
      'alpha': '48%'
    },
    'color-srf-neutral-blacka50': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.5)',
      'alpha': '50%'
    },
    'color-srf-neutral-blacka60': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.6)',
      'alpha': '60%'
    },
    'color-srf-neutral-blacka70': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.7)',
      'alpha': '70%'
    },
    'color-srf-neutral-blacka75': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.75)',
      'alpha': '75%'
    },
    'color-srf-neutral-blacka80': {
      'hex': '#000000',
      'rgba': 'rgba(0,0,0,.8)',
      'alpha': '80%'
    },
    'color-brand-facebook': {
      'hex': '#3464a5',
      'rgba': 'rgba(52,100,165,1)'
    },
    'color-brand-twitter': {
      'hex': '#5aa8df',
      'rgba': 'rgba(90,168,223,1)'
    },
    'color-brand-whatsapp': {
      'hex': '#4ece5b',
      'rgba': 'rgba(78,206,91,1)'
    }
  }
%}

<style>
.select {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.hasAlpha {
  background-color: white;
  background-image: linear-gradient(45deg, rgba(128,128,128,.1) 25%, transparent 25%, transparent 75%, rgba(128,128,128,.1) 75%, rgba(128,128,128,.1)),linear-gradient(45deg, rgba(128,128,128,.1) 25%, transparent 25%, transparent 75%, rgba(128,128,128,.1) 75%, rgba(128,128,128,.1));
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}
</style>

<ul class="demo-colors" id="introduction">
  {% for colorName,colorCode in globalColors %}
    <li class="demo-colors__item{% if colorCode.alpha is not empty %} hasAlpha{% endif %}">
      <span class="demo-swatch" style="background: {{ colorCode.rgba }}"></span>
      <span class="demo-label">
        <strong class="select">{{ colorName }}</strong><br />
        <span class="select">{{ colorCode.hex }}{% if colorCode.alpha is not empty %} (alpha {{ colorCode.alpha }}){% endif %}</span><br />
        <span class="select">{{ colorCode.rgba }}</span>
      </span>
    </li>
  {% endfor %}
</ul>