{% spaceless %}
<div class="image {{ styleModifier }}">
    <img class="image-figure__image"
         alt="{{ image.caption.title }}"
         title="{{ image.caption.title }}"
            {% if image.sources is defined %}
                {% set imageSources = [] %}
                {% for source in image.sources %}
                    {% set imageSource = source.src ~ ' ' ~ source.width ~ 'w' %}
                    {% set imageSources = imageSources|merge([imageSource]) %}
                {% endfor %}
                sizes="{{ sizes }}"
                srcset="{{ imageSources|join(',') }}"
            {% endif %}
         src="{{ image.sources.s8.src }}">
</div>
{% endspaceless %}
