<div class="selectable js-selectable {{ branded ? 'selectable--branded' }}"
     data-urn="{{ urn|default("srf:urn:collection:123") }}"
     data-title="{{ title|default("") }}"
     data-groups="{{ groups|json_encode()|default([]) }}">

    <div class="selectable__branding-element js-selectable-branding-element" {% if branded %}style="background-image: linear-gradient(120deg, #135c94, #ADD8E6);"{% endif %}></div>
    <div class="selectable__animation-wrapper js-selectable-animation-wrapper">
        <div class="selectable__head-wrapper">
            <h3 class="selectable__title">
                {{ title|default("") }}
            </h3>

            {% if lead is defined %}
                <p class="selectable__lead">{{ lead }}</p>
            {% endif %}
        </div>

        <div class="selectable__button-wrapper">
            {% for group in groups %}
                <button class="selectable__button js-group-button" data-source="{{ group.urn }}">
                    {{ group.title }}
                </button>
            {% endfor %}
        </div>
    </div>
</div>
