<a href="/"
   class="main-logo {{ styleModifier|default("") }}"
   title="{{ title|default("Startseite SRF") }}">
    <img src="{{ frameworkAssetPath }}{{ path|default("/img/srf_logo.svg") }}"
         alt="{{ alt|default("Zur Startseite von Schweizer Radio und Fernsehen") }}" />
</a>
