{% set swipeable = ('collection--swipeable' in collection.styleModifier or 'collection--compact-swipeable' in collection.styleModifier) and collection.teasers|length > 3 %}
{% set branded = 'collection--branded' in collection.styleModifier %}
{% set selectable = 'collection--selectable' in collection.styleModifier %}
{% set showTitlelink = collection.titleLink is defined or selectable %}

{% if selectable %}<div class="selectable-wrapper">{% endif %}

<div class="collection js-collection {{ collection.styleModifier|default("collection--standard") }}"
    {% if collection.urn is defined %}data-urn="{{ collection.urn }}"{% endif %}
    {% if selectable %}data-selectable-urn="{{ collection.selectableURN }}"{% endif %}>

    <div class="collection__branding-wrapper js-collection-branding-wrapper"{% if branded %} style="background-image: linear-gradient(120deg, #135c94, #ADD8E6);"{% endif %} >
        <div class="collection__content-wrapper js-collection-content-wrapper">
            <h2 class="collection__title">
                <span class="h-loading-only">
                    {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--shorter'} %}
                    {% if collection.lead is defined %}
                        {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--short'} %}
                        {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--short'} %}
                    {% endif %}
                </span>

                {% if showTitlelink %}
                    <a href="{{ collection.titleLink|default("#") }}" class="collection__title-link">
                {% endif %}

                <span class="collection__title-text">
                    {{ collection.title|default("") }}
                </span>

                {% if showTitlelink %}
                        <span class="collection__title-a11y-help">Landingpage öffnen</span>
                        <span class="collection__title-link-icon"></span>
                    </a>
                {% endif %}

                {% if selectable %}
                    <button class="selectable-button js-selectable-button">
                        {% include 'atoms-icon-button' with {
                            'iconStyleModifier': 'svg-icon--more',
                            'buttonText': collection.selectableText|default('Region'),
                            'styleModifier': 'icon-button--collapsing-text-mobile icon-button--spaceless-right-mobile'
                        } %}
                    </button>
                {% endif %}
            </h2>

            {% if collection.image is defined %}
                <div class="collection__background-image {{ collection.lead is defined ? "collection__background-image--with-lead" }}"
                     style="background-image: url({{collection.image}});">

                    <div class="collection__background-image-dimmer">
            {% endif %}

            {% if collection.lead is defined %}
                <p class="collection__lead">{{collection.lead|default("")}}</p>
            {% endif %}

            {% if collection.image is defined %}
                    </div>
                </div>
            {% endif %}

            {# SWIPEABLE AREA WRAPPER #}
            {% if swipeable %}
                <div class="collection__swipeable-area swipeable-area js-swipeable-area"
                     data-swipeable-hinting="true"
                     data-mark-hidden-items="swipeable-area-item--hidden">
                    <div class="swipeable-area__wrapper js-swipeable-area-wrapper">
            {% endif %}

            <ul class="collection__teaser-list">
                {% for teaser in collection.teasers %}
                    {% if teaser is not null %}
                        {% set teaserFormat = 'teaser--size-m teaser--size-s-on-mobile' %}

                        {% if 'collection--standard' in collection.styleModifier %}
                            {# STANDARD: all M teasers (S on mobile) #}
                            {% set teaserFormat = 'teaser--size-m teaser--size-s-on-mobile' %}
                        {% elseif 'collection--hero' in collection.styleModifier %}
                            {# HERO: 1 XL, all others M #}
                            {% set teaserFormat = loop.index == 1 ? 'teaser--size-xl' : 'teaser--size-m teaser--size-s-on-mobile' %}
                        {% elseif 'collection--duo' in collection.styleModifier %}
                            {# DUO: 2 L (2nd L looks like S on mobile), all others M #}
                            {% set teaserFormat = loop.index == 1 ? 'teaser--size-l' : (loop.index == 2 ? 'teaser--size-l teaser--size-s-on-mobile' : 'teaser--size-m teaser--size-s-on-mobile') %}
                        {% elseif ('collection--swipeable' in collection.styleModifier) %}
                            {# SWIPEABLE: all M teasers #}
                            {% set teaserFormat = 'teaser--size-m' %}
                        {% elseif ('collection--compact' in collection.styleModifier or 'collection--compact-swipeable' in collection.styleModifier) %}
                            {# SWIPEABLE, COMPACT, COMPACT SWIPEABLE: all S teasers #}
                            {% set teaserFormat = 'teaser--size-s' %}
                        {% elseif 'collection--borderless' in collection.styleModifier %}
                            {# BORDERLESS: all M teasers with no translation #}
                            {% set teaserFormat = 'teaser--size-m teaser--no-translate' %}
                        {% else %}
                            {% set teaserFormat = 'teaser--size-m' %}
                        {% endif %}

                        <li class="collection__teaser-item {{ swipeable ? "js-swipeable-area-item" }}">
                            {% if 'teaser--longform' in teaser.styleModifier|default("") %}
                                {% include 'molecules-teaser--longform' with {'teaser': teaser, "styleModifier": teaserFormat} %}
                            {% elseif teaser.showScoreboard %}
                                {% include 'molecules-teaser--scoreboard' with {'teaser': teaser, "styleModifier": teaserFormat} %}
                            {% else %}
                                {% include random(['molecules-teaser', 'molecules-teaser--with-medium']) with {'teaser': teaser, "styleModifier": teaserFormat} %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            {# SWIPEABLE AREA WRAPPER END TAGS #}
            {% if swipeable %}
                    </div>
                </div>
            {% endif %}

            {% if collection.links is defined and collection.links|length > 0 %}
                <ul class="collection__links">
                    {% for link in collection.links %}
                        <li class="collection__link-item">
                            <a class="collection__link" href="{{ link.link }}">
                                <span class="collection__link-text">{{ link.title }}</span>
                                <span class="collection__link-icon"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% if selectable %}</div>{% endif %}
