{% set swipeable = collection.swipeable|default(('collection--swipeable' in collection.styleModifier or 'collection--compact-swipeable' in collection.styleModifier or 'collection--dense-swipeable' in collection.styleModifier)) %}
{% set branded = 'collection--branded' in collection.styleModifier %}
{% set selectable = 'collection--selectable' in collection.styleModifier %}
{% set renderTitlePrecusor = 'collection--search-results' in collection.styleModifier %}
{% set showTitlelink = collection.titleLink is defined or selectable %}
{% set themeColorStart = collection.theme is defined and collection.theme.colorStart is defined ? collection.theme.colorStart : '#f5f5f2' %}
{% set themeColorEnd = collection.theme is defined and collection.theme.colorEnd is defined ? collection.theme.colorEnd : '#f5f5f2' %}
{# b3 is 70% in oct. #rrggbbaa is not well supported yet, so in prod you should use a twig operator which translates hex to rgba #}
{# themeColor*Transparent can be provided by the includer, because the b3 trick does not work for IE11. Is not necessary for production. #}
{% set themeColorStartTransparent = collection.themeColorStartTransparent|default(themeColorStart ~ 'b3') %}
{% set themeColorEndTransparent = collection.themeColorEndTransparent|default(themeColorEnd ~ 'b3') %}
{% set needsBackgroundColors = branded or swipeable %}

{% if selectable %}<div class="selectable-wrapper">{% endif %}

<div class="collection js-collection {{ collection.styleModifier|default("collection--standard") }}"
    {% if collection.urn is defined %}data-urn="{{ collection.urn }}"{% endif %}
    {% if selectable %}data-selectable-urn="{{ collection.selectableURN }}"{% endif %}>

    <div class="collection__branding-wrapper js-collection-branding-wrapper"
         {% if branded %} style="
            --branded-background-color-start: {{ themeColorStart }};
            --branded-background-color-start-transparent: {{ themeColorStartTransparent }};
            --branded-background-color-end: {{ themeColorEnd }};
            --branded-background-color-end-transparent: {{ themeColorEndTransparent }};
            background-image: linear-gradient(100deg, {{ themeColorStart }} 17%, {{ themeColorEnd }} 83%);" {# fallback for browsers without css-var support #}
        {% endif %}
         >
        <div class="collection__content-wrapper js-collection-content-wrapper">
            <h3 class="collection__title">
                <span class="h-loading-only">
                    {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--shorter'} %}
                    {% if collection.lead is defined %}
                        {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--short'} %}
                        {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--heading shimmer--short'} %}
                    {% endif %}
                </span>

                {% if renderTitlePrecusor %}
                    {# e.g. used in search results for play, where the search key is shown in the title precursor #}
                    <div class="collection__title-precursor js-collection-title-precursor">tages</div>
                {% endif %}

                {% if showTitlelink %}
                    <a href="{{ collection.titleLink|default("#") }}" class="collection__title-link">
                {% endif %}

                <span class="collection__title-text">{{ collection.title|default("")|trim }}</span>

                {% if showTitlelink %}
                        <span class="collection__title-a11y-help">Landingpage öffnen</span>
                        <span class="collection__title-link-icon"></span>
                    </a>
                {% endif %}

                {% if selectable %}
                    <button class="selectable-button js-selectable-button">
                        {% include 'atoms-icon-button' with {
                            'iconStyleModifier': 'svg-icon--more',
                            'buttonText': collection.selectableText|default('Region'),
                            'styleModifier': 'icon-button--collapsing-text-mobile icon-button--spaceless-right-tablet-up'
                        } %}
                    </button>
                {% endif %}
            </h3>

            {% if collection.image is defined %}
                <div class="collection__background-image {{ collection.lead is defined ? "collection__background-image--with-lead" }}"
                     style="background-image: url({{collection.image}});">

                    <div class="collection__background-image-dimmer">
            {% endif %}

            {% if collection.lead is defined %}
                <p class="collection__lead">{{collection.lead|default("")}}</p>
            {% endif %}

            {% if collection.image is defined %}
                    </div>
                </div>
            {% endif %}

            {# SWIPEABLE AREA WRAPPER #}
            {% if swipeable %}
                <div class="collection__swipeable-area swipeable-area js-swipeable-area {% if branded %}swipeable-area--themed{% endif %}"
                     data-flying-focus-info="ignore-scrollable-container">
            {% endif %}

            <ul class="collection__teaser-list {% if swipeable %}swipeable-area__wrapper js-swipeable-area-wrapper{% endif %}">
                {% for teaser in collection.teasers %}
                    {% if teaser is not null %}
                        {% set teaserFormat = 'teaser--size-m teaser--size-s-on-mobile' %}

                        {% if 'collection--standard' in collection.styleModifier %}
                            {# STANDARD: all M teasers (S on mobile) #}
                            {% set teaserFormat = 'teaser--size-m teaser--size-s-on-mobile' %}
                        {% elseif 'collection--hero' in collection.styleModifier %}
                            {# HERO: 1 XL, all others M #}
                            {% set teaserFormat = loop.index == 1 ? 'teaser--size-xl' : 'teaser--size-m teaser--size-s-on-mobile' %}
                        {% elseif 'collection--duo' in collection.styleModifier %}
                            {# DUO: 2 L, all others M #}
                            {% set teaserFormat = loop.index < 3 ? 'teaser--size-l' : 'teaser--size-m teaser--size-s-on-mobile' %}
                        {% elseif ('collection--swipeable' in collection.styleModifier) %}
                            {# SWIPEABLE: all M teasers #}
                            {% set teaserFormat = 'teaser--size-m' %}
                        {% elseif ('collection--compact' in collection.styleModifier or 'collection--compact-swipeable' in collection.styleModifier) %}
                            {# SWIPEABLE, COMPACT, COMPACT SWIPEABLE: all S teasers #}
                            {% set teaserFormat = 'teaser--size-s' %}
                        {% elseif 'collection--dense-swipeable' in collection.styleModifier %}
                            {# DENSE SWIPEABLE: all teasers are square and only half of the normal width #}
                            {% set teaserFormat = 'teaser--square' %}
                        {% elseif 'collection--borderless' in collection.styleModifier %}
                            {# BORDERLESS: all M teasers with no translation #}
                            {% set teaserFormat = 'teaser--size-m teaser--no-translate' %}
                        {% else %}
                            {% set teaserFormat = 'teaser--size-m' %}
                        {% endif %}

                        {% set teaserStyleModifier = teaserFormat ~ " " ~ (teaser.styleModifier|default("")) %}
                        {% set teaserInfoStyleModifier = teaser.styleModifierTeaserInfo|default("") %}

                        {% set teaserParameters = {
                            "teaser": teaser,
                            "styleModifier": teaserStyleModifier,
                            "styleModifierTeaserInfo": teaserInfoStyleModifier
                        } %}

                        <li class="collection__teaser-item {{ swipeable ? "js-swipeable-area-item swipeable-area__item" }}">
                            {% if 'teaser--longform' in teaser.styleModifier|default("") %}
                                {% include 'molecules-teaser--longform' with teaserParameters %}
                            {% elseif 'teaser--no-card' in teaser.styleModifier|default("") %}
                                {% include 'molecules-teaser-no-card' with teaserParameters %}
                            {% elseif teaserFormat == 'teaser--square' %}
                                {% include 'molecules-teaser--square' with teaserParameters %}
                            {% elseif teaser.showScoreboard %}
                                {% include 'molecules-teaser--scoreboard' with teaserParameters %}
                            {% elseif 'collection--search-results' in collection.styleModifier %}
                                {% include 'molecules-teaser--search-result' with teaserParameters %}
                            {% else %}
                                {% include random(['molecules-teaser', 'molecules-teaser--with-medium', 'molecules-teaser--broadcast']) with teaserParameters %}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            {# SWIPEABLE AREA WRAPPER END TAGS #}
            {% if swipeable %}
                    <div class='js-swipeable-area-mask-left swipeable-area__mask swipeable-area__mask--left'
                         style='background: linear-gradient(90deg, {{ themeColorStart }}, {{ themeColorStartTransparent }});'></div>
                    <div class='js-swipeable-area-mask-right swipeable-area__mask swipeable-area__mask--right'
                         style='background: linear-gradient(90deg, {{ themeColorEndTransparent }}, {{ themeColorEnd }});'></div>

                    <div class='swipeable-area__button-container js-swipeable-button-container'>
                        {% include 'atoms-icon-button' with {
                            'iconStyleModifier': 'svg-icon--arrow-left-dark',
                            'screenReaderText': 'Nach links scrollen',
                            'styleModifier': 'js-swipeable-area-button-left swipeable-area__button swipeable-area__button--left'
                        } %}
                        {% include 'atoms-icon-button' with {
                            'iconStyleModifier': 'svg-icon--arrow-right-dark',
                            'screenReaderText': 'Nach rechts scrollen',
                            'styleModifier': 'js-swipeable-area-button-right swipeable-area__button swipeable-area__button--right'
                        } %}
                        <span class="swipeable-area__button-shadow swipeable-area__button-shadow--left"></span>
                        <span class="swipeable-area__button-shadow swipeable-area__button-shadow--right"></span>
                    </div>
                </div>
            {% endif %}

            {% if collection.links is defined and collection.links|length > 0 %}
                <ul class="collection__links">
                    {% for link in collection.links %}
                        <li class="collection__link-item">
                            <a class="collection__link" href="{{ link.link }}">
                                <span class="collection__link-text">{{ link.title }}</span>
                                <span class="collection__link-icon"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% if selectable %}</div>{% endif %}
