<form class="reply-container comment--hide comments--shrink js-comment_place"
      name="comment_form" method="{{ form.method|default("get") }}">
    <label class="h-offscreen" form="comment_form">{{ replies.title|default("Einen Kommentar schreiben") }}</label>
    <fieldset class="reply">
        <div class="reply__highlights"></div>
        <textarea class="reply__textarea{# reply--mini #}" name="reply" cols="70" rows="7"></textarea>
        <p class="reply-info">
            <span class="reply-info__initial">{{ replies.please_respect|default("Bitte beachten Sie unsere") }}</span>
            <a class="reply-info__netiquette"
               href="//srf.ch/netiquette">{{ replies.nettiquette|default("Netiquette") }}</a>
            <span class="reply-info__count">
                <span class="h-offscreen">{{ replies.still_available|default("verfügbar sind noch") }}</span>
                <span class="js-comment-count-up">500</span>&nbsp;{{ replies.letters|default("Zeichen") }}
            </span>
        </p>
        {# <input type="hidden" name="node_id" class="js-comment_node_id" value="">{# node_id #}
        <input type="hidden" name="reply_to" class="js-comment_reply_to" value="0">{# replytocomment #}
        <input type="hidden" name="user_email" class="js-comment_user_email" value="">{# email #}
        <input type="hidden" name="user_name" class="js-comment_user_name" value="">{# email #}
        <input type="hidden" name="user_nickname" class="js-comment_user_nickname" value="">{# email #}
    </fieldset>
    {% include 'elements-submit-button' with { 'styleModifier' : 'submit-button--inactive', 'buttonText' : 'Kommentieren' } %}
</form>
