<div class="comments-wrapper">
    <p class="comments-wrapper__title">{% if comments.total_count > 0 %}{{ comments.total_count }} {% endif %}Kommentare</p>
    <ul class="tabs" role="tablist">
        <li class="tab-option" role="presentation">
            <a href="#sectionAll" class="tab-option__link tab-option__link--selected" tabindex="0" role="tab" aria-controls="sectionAll" aria-selected="true">Alle Kommentare</a>
        </li>
        <li class="tab-option" role="presentation">
            <a href="#sectionHits" class="tab-option__link" tabindex="-1" role="tab" aria-controls="sectionHits">Beliebteste</a>
        </li>
    </ul>

    <section id="sectionAll" role="tabpanel">
        <ul class="comments comments--main">
            {% for comment in comments.comments %}
                <li class="comment">
                    <p class="comment__user">{{ comment.name }} ({{ comment.nickname }})</p>
                    <span class="comment__time">{{ comment.dateFormatted|date('d.m.Y') }}</span>{# Heute / Wochentag & pub. time ab 1h ago ?... #}
                    <p class="comment__content">{{ comment.message }}</p>
                    <a class="comment__link comment__link--clicked">Gefällt mir (13)</a>{# ... folgestory #}
                    <a class="comment__link">Antworten</a> {# was passiet hier? #}
                    {% if comment.children|length > 0 %}
                        <ol class="comments comments--replies">
                        {% for replies in comment.children %}
                            <li class="comment">
                                <p class="comment__user {% if replies.isEditorialAnswer %} comment__user--srf{% endif %}">{{ comment.name }} ({{ comment.nickname }})</p>
                                <span class="comment__time">{{ replies.dateFormatted|date('d.m.Y') }}/vor 10 Minuten</span>{# Heute / Wochentag & pub. time ab 1h ago ?... #}
                                <p class="comment__content">{{ replies.message }}</p>
                                <a class="comment__link">Gefällt mir (13)</a>{# ... folgestory #}
                                <a class="comment__link">Antworten</a> {# was passiet hier? #}
                            </li>
                        {% endfor %}
                            </ol>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section id="sectionAll" role="tabpanel" aria-hidden="true"></section>
    {% block more_button %}
        {% include 'elements-load-more' %}
    {% endblock %}
</div>