<div class="comments-wrapper" {% block data_attributes %}{% endblock %}>
    <p class="comments-wrapper__title">{% if comments.total_count > 0 %}{{ comments.total_count }} {% endif %}{{ comments.title|default("Kommentare") }} }}</p>
    {% if comments.total_count == 0 %}
        <p class="comments-wrapper__text">
            {{ comments.no_comment|default("Es wurden noch keine Kommentare erfasst. Seien Sie die erste Person, die diesen Artikel kommentiert.") }}
        </p>
    {% else %}
        <ul class="tabs" role="tablist">
            <li class="tab-option" role="presentation">
                <a href="#sectionAll" class="tab-option__link tab-option__link--selected" tabindex="0" role="tab" aria-controls="sectionAll" aria-selected="true">{{ comments.link_all|default("Alle Kommentare") }}</a>
            </li>
            <li class="tab-option" role="presentation">
                <a href="#sectionHits" class="tab-option__link" tabindex="-1" role="tab" aria-controls="sectionHits">{{ comments.link_hits|default("Beliebteste") }}</a>
            </li>
        </ul>

        <section id="sectionAll" role="tabpanel">
            <ul class="comments comments--main">
                {% for comment in comments.comments %}
                    <li class="comment">
                        <p class="comment__user">{{ comment.name }} ({{ comment.nickname }})</p>
                        <span class="comment__time">{{ comment.dateFormatted }}</span>{# Heute / Wochentag & pub. time ab 1h ago ?... #}
                        <p class="comment__content">{{ comment.message }}</p>
                        <a class="comment__link comment__link--clicked">{{ comments.link_socialdefault("Gefällt mir") }} (?)</a>{# ... folgestory #}
                        <a class="comment__link">{{ comments.link_reply|default("Antworten") }}</a> {# was passiet hier? #}
                        {% if comment.children|length > 0 %}
                            <ol class="comments comments--replies">
                            {% for replies in comment.children %}
                                <li class="comment">
                                    <p class="comment__user {% if replies.isEditorialAnswer %} comment__user--srf{% endif %}">{{ comment.name }} ({{ comment.nickname }})</p>
                                    <span class="comment__time">{{ replies.dateFormatted }}</span>{# Heute / Wochentag & pub. time ab 1h ago ?... #}
                                    <p class="comment__content">{{ replies.message }}</p>
                                    <a class="comment__link">{{ comments.link_socialdefault("Gefällt mir") }} (?)</a>{# ... folgestory #}
                                    <a class="comment__link">{{ comments.link_reply|default("Antworten") }}</a> {# was passiet hier? #}
                                </li>
                            {% endfor %}
                                </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section id="sectionAll" role="tabpanel" aria-hidden="true"></section>
        {% block more_button %}
            {% include 'elements-load-more' %}
        {% endblock %}
    {% endif %}
</div>