<div class="comments-wrapper" {% block data_attributes %}{% endblock %}>
    <div class="comments-header l-full-width-container">
        <p class="comments-header__title comments-header--shrink">{% if comments.total_count > 0 %}{{ comments.total_count }} {% endif %}{{ comments.title|default("Kommentare") }}</p>
        {% if comments.total_count == 0 %}
            <p class="comments-header__text comments-header--shrink">
                {{ comments.no_comment|default("Es wurden noch keine Kommentare erfasst. Seien Sie die erste Person, die diesen Artikel kommentiert.") }}
            </p>
        {% else %}
            <ul class="tabs comments-header--shrink" role="tablist">
                <li class="tab-option" role="presentation">
                    <a href="#sectionAll" class="tab-option__link tab-option__link--selected" tabindex="0" role="tab" aria-controls="sectionAll" aria-selected="true">{{ comments.link_all|default("Alle Kommentare") }}</a>
                </li>
                <li class="tab-option" role="presentation">
                    <a href="#sectionHits" class="tab-option__link" tabindex="-1" role="tab" aria-controls="sectionHits">{{ comments.link_hits|default("Beliebteste") }}</a>
                </li>
            </ul>
        {% endif %}
    </div>{# here ends the header #}
    {% if comments.total_count > 0 %}
        <section id="sectionAll" role="tabpanel">
            <ul class="comments comments--main">
                {% for comment in comments.comments %}
                   {% include 'components-comment' with { 'comment': comment } %}
                {% endfor %}
            </ul>
        </section>
        <section id="sectionAll" role="tabpanel" aria-hidden="true"></section>
        {% block more_button %}
            {% include 'elements-load-more' %}
        {% endblock %}
    {% endif %}
</div>