{% macro ratingstars(ratings_index,answer_index,answer_title,answer_description) %}
                <p class="poll-option-label__title">{{answer_title}} {{answer_index}}</p>
                {% if answer_description %}
                    <p class="poll-option-label__description">{{answer_description}}</p>
                {% endif %}
                <ol class="ratingstars ratingstars--toVote">
                    {% for meme in 1..5 %}
                    <li class="ratingstars__elem" data-ratings_index="{{ratings_index}}" data-answer_index="{{answer_index}}" data-star_index="{{loop.index}}">
                        <input type="radio" id="star{{ratings_index}}-{{answer_index}}-{{loop.index}}" name="ratingStar[]" value="{{loop.index}}" class="ratingstars__checkbox" />
                        <label for="star{{ratings_index}}-{{answer_index}}-{{loop.index}}">
                            <svg class="ratingstars__star ratingstars__star--{{ratings_index}}-{{answer_index}}-{{loop.index}}" viewBox="0 0 37 37" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"><title>Ein Stern</title><path d="M18.5,36.5 C8.55903448,36.5 0.5,28.4409655 0.5,18.5 C0.5,8.55903448 8.55903448,0.5 18.5,0.5 C28.4422069,0.5 36.5,8.55903448 36.5,18.5 C36.5,28.4409655 28.4422069,36.5 18.5,36.5 Z M18.5,7.94827586 L15.3965517,15.3965517 L7.32758621,15.3965517 L13.8038621,20.8486897 L11.0517241,29.6724138 L18.5,24.0862069 L25.9482759,29.6724138 L23.1961379,20.8486897 L29.6724138,15.3965517 L21.6034483,15.3965517 L18.5,7.94827586 Z"></path></svg>
                        </label>
                    </li>
                    {% endfor %}
                </ol>
                <p class="resultWording resultWording--{{ratings_index}}-{{answer_index}}"><strong><span class="resultNumber--js">0.0</span> Sterne</strong> / Ihre Wertung: <span class="myNumber--js">0</span> Sterne</p>
{% endmacro %}

{% macro form_submit(poll, styleModifier = 'poll--with-radios') %}
    <div class="poll-form-handling" role="combobox" aria-live="polite">
        {# visible submit button only for polls with radios #}
        {% if styleModifier == 'poll--with-radios' %}
            <span class="poll-form-handling__errors"></span>
        {% endif %}
        {% include 'elements-submit-button' with { 'button_text' : poll.submit } %}
        <p class="poll-form-handling__roundup"><strong></strong> {{ poll.total }}</p>
    </div>
{% endmacro %}

{% include 'components-ratings--without-media' with { 'ratingsIndex': 1 } %}
{# {% include 'components-ratings--with-media' with { 'ratingsIndex': 2 } %} #}