<li class="listmodule-list__item">
    {% include 'components-image-figure' with {'styleModifier': 'image-figure--simple'} %}
    <div class="listmodule-list__itemTextblock">
        <h2 class="listmodule-list__itemTitle">{{list.elements[0].title}}</h2>
        <p class="listmodule-list__itemBody">{{list.elements[0].body}}</p>
        {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing h-show-mobile', 'infolineSource': 'true', 'infolineElem': infolines.imageTag} %}
    </div>
</li>
<li class="listmodule-list__item">
    {% include 'components-video' with {'styleModifierMain': 'article-video--simple', 'styleModifier': 'image-figure--simple'} %}
    <div class="listmodule-list__itemTextblock">
        <h2 class="listmodule-list__itemTitle">{{list.elements[1].title}}</h2>
        <p class="listmodule-list__itemBody">{{list.elements[1].body}}</p>
        {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing h-show-mobile', 'infolineElem': infolines.videoTagLong} %}
    </div>
</li>
<li class="listmodule-list__item">
    {% include 'components-image-figure' with {'styleModifier': 'image-figure--simple'} %}
    <div class="listmodule-list__itemTextblock">
        <h2 class="listmodule-list__itemTitle">{{list.elements[0].title}}</h2>
        <p class="listmodule-list__itemBody">{{list.elements[0].body}}</p>
        {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing h-show-mobile', 'infolineSource': 'true', 'infolineElem': infolines.imageTag} %}
    </div>
</li>