<section class="listmodule">
    <h1 class="listmodule__title">{{list.title}}</h1>
    <ul class="listmodule__list">
        <li class="listmodule__item">
            <figure class="listmodule__itemFigure">
                <div class="listmodule__itemMediaWrapper"><img src="{{image.sources.s8.src}}" class="listmodule__itemMedia" /></div>
                <figcaption class="listmodule__itemSource h-show-tabletup"><span class="h-offscreen">{{infolines.imageTag}} </span><span class="listmodule__itemSourceName">{{infolines.source}}</span></figcaption>
            </figure>
            <div class="listmodule__itemTextblock">
                <h2 class="listmodule__itemTitle">{{list.elements[0].title}}</h2>
                <p class="listmodule__itemBody">{{list.elements[0].body}}</p>
                {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing h-show-mobile', 'infolineSource': 'true', 'infolineElem': infolines.imageTag} %}
            </div>
        </li>
        <li class="listmodule__item">
            <figure class="listmodule__itemFigure">
                <div class="listmodule__itemMediaWrapper"><img src="{{image.sources.s8.src}}" class="listmodule__itemMedia" /></div>
                <figcaption class="listmodule__itemSource h-show-tabletup"><span class="h-offscreen">{{infolines.videoTag}} </span>Vom 29.8.2016</figcaption>
            </figure>
            <div class="listmodule__itemTextblock">
                <h2 class="listmodule__itemTitle">{{list.elements[1].title}}</h2>
                <p class="listmodule__itemBody">{{list.elements[1].body}}</p>
                {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing h-show-mobile', 'infolineElem': infolines.videoTagLong} %}
            </div>
        </li>
        <li class="listmodule__item">
            <figure class="listmodule__itemFigure">
                <div class="listmodule__itemMediaWrapper"><img src="{{image.sources.s8.src}}" class="listmodule__itemMedia" /></div>
                <figcaption class="listmodule__itemSource h-show-tabletup"><span class="h-offscreen">{{infolines.imageTag}} </span><span class="listmodule__itemSourceName">{{infolines.source}}</span></figcaption>
            </figure>
            <div class="listmodule__itemTextblock">
                <h2 class="listmodule__itemTitle">{{list.elements[0].title}}</h2>
                <p class="listmodule__itemBody">{{list.elements[0].body}}</p>
                {% include 'elements-infoline' with {'styleModifier': 'infoline--nospacing h-show-mobile', 'infolineSource': 'true', 'infolineElem': infolines.imageTag} %}
            </div>
        </li>
    </ul>
</section>