{% set commentIds = [] %}
{% for comment in comments %}
    {% set commentIds = commentIds|merge([comment.id]) %}
    <li class="comment_{{ comment.id }} comment" data-id="{{ comment.id }}">
        <cite class="comment__user {% if comment.isEditorialAnswer %} comment__user--{{ businessUnit }}{% endif %}" role="combobox">
            <span class="h-offscreen">{{ 'Kommentar von' }} </span>{{ comment.name }}
            {% if comment.isEditorialAnswer %}<span
                    class="h-offscreen">({{ businessUnit|upper }})</span>{% else %}({{ comment.nickname }}){% endif %}
        </cite>
        <span class="comment__time" data-timestamp="{{ comment.date }}">{{ comment.dateFormatted }}</span>
        <blockquote class="comment__content">{{ comment.message }}</blockquote>
        {% spaceless %}
            <span class="comment__clarification">
                {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--respond-blue svg-icon--tiny'} %}
                <span>{{ 'Antwort von SRF folgt' }}</span>
            </span>
            <a class="js-comment-like comment__link comment__link--like" role="link" title="{{ 'Zustimmen' }}" href="#{{ comment.id }}-like">
                {{ 'Zustimmen' }}
                <span class="h-offscreen">{{ 'dem Kommentar zustimmen' }}</span>
                <span class="count"></span>
            </a>

            <span class="vertical-separator" aria-hidden="true" role="presentation"></span>

            <a class="js-comment-dislike comment__link comment__link--dislike" role="link" title="{{ 'Ablehnen' }}" href="#{{ comment.id }}-dislike">
                {{ 'Ablehnen' }}
                <span class="h-offscreen">{{ 'den Kommentar ablehnen' }}</span>
                <span class="count"></span>
            </a>
            {% if allowsComments %}
                <span class="vertical-separator" aria-hidden="true" role="presentation"></span>
                <a class="comment__link comment__link--reply" href="#{{ comment.id }}-reply" role="link" title="{{ 'Antworten' }}">
                    {{ 'Antworten' }}
                    <span class="h-offscreen">{{ 'anwählen um auf den Kommentar zu antworten' }}</span>
                </a>
                <span id="placeholder{{ identifier }}_{{ comment.id }}" class="comment__placeholder"></span>
            {% endif %}
        {% endspaceless %}

        {% if comment.children|length > 0 %}
            <ol class="comments comments--replies">
                {% for reply in comment.children %}
                    {% set commentIds = commentIds|merge([reply.id]) %}
                    <li class="comment_{{ reply.id }} comment" data-id="{{ reply.id }}">
                        <span class="h-offscreen">{{ 'Antwort von' }} </span>
                        <cite class="comment__user {% if reply.isEditorialAnswer %} comment__user--{{ businessUnit }}{% endif %}">
                            {{ reply.name }}{% if not reply.isEditorialAnswer %} ({{ reply.nickname }}){% endif %}</cite>
                        <span class="comment__time" data-timestamp="{{ reply.date }}"></span>
                        <blockquote class="comment__content">{{ reply.message }}</blockquote>
                        {% spaceless %}
                            <span class="comment__clarification">
                                {% include 'atoms-svg-icon' with {'styleModifier': 'svg-icon--respond-blue svg-icon--tiny'} %}
                                <span>{{ 'Antwort von SRF folgt' }}</span>
                            </span>
                            <a class="comment__link comment__link--like" title="{{ 'Zustimmen' }}" role="link" href="#{{ comment.id }}-like">
                                {{ 'Zustimmen' }}
                                <span class="h-offscreen">{{ 'dem Kommentar zustimmen' }}</span>
                                <span class="count"></span>
                            </a><span class="vertical-separator" aria-hidden="true" role="presentation"></span>
                            <a class="js-comment-dislike comment__link comment__link--dislike" title="{{ 'Ablehnen' }}" role="link" href="#{{ comment.id }}-dislike">
                                {{ 'Ablehnen' }}
                                <span class="h-offscreen">{{ 'den Kommentar ablehnen' }}</span>
                                <span class="count"></span>
                            </a>
                        {% endspaceless %}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endfor %}
<li style="display:none" data-ids="{{ commentIds|join(',') }}" class="comment_ids--js" aria-hidden="true"></li>
