<section class="article-comments l-content-wrapper js-article-comments"
         data-i18n-text-clock="Uhr"
         data-i18n-text-today="Heute"
         data-i18n-text-yesterday="Gestern">
    <div class="l-content-wrapper__space l-card expandable--expanded" data-total-count="{{ comments.total_count }}" {% block data_attributes %}{% endblock %}>
        <div class="comments-header--top">
            <div class="comments-header__group comments--shrink">
                <h3 class="comments-header__title">
                    {% if comments.total_count > 0 %}{{ comments.total_count }} {% endif %}
                    {% if comments.total_count == 1 %}
                        {{ 'Kommentar' }}
                    {% else %}
                        {{ 'Kommentare' }}
                    {% endif %}
                </h3>

                <div class="comments-header__group--push"></div>

                <div class="comments-header__expand-switch expand-icon expand-icon--with-text expand-icon--accentuated">
                    <span class="expand-icon__text expand-text--to-close">Ausblenden</span>
                    <span class="expand-icon__text expand-text--to-open">Einblenden</span>
                    <span class="expand-icon__icon expand-icon--open">
                      <span class="expand-icon__a11y-open h-offscreen">{{ textOpen|default("Navigation aufklappen") }}</span>
                      <span class="expand-icon__a11y-close h-offscreen">{{ textClose|default("Navigation zuklappen") }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="comments-header">
            <p class="comments-header__text comments--shrink {{ styleModifier }}">
                {{ 'Sie sind angemeldet als' }}
                <a href="" class="comments-header__logged-in-as">Who ? (whoareyou)</a> (<a href=""
                                                              class="comments-header__logout">{{ 'abmelden' }}</a>)
            </p>

            {# show the button to comment #}
            {% if allowsComments %}
                <div class="comments-header__button-wrapper comments--shrink">
                    <a class="comments-header__button comments--shrink" href="#" role="link">
                        {{ 'Teilen Sie Ihre Meinung ...' }}
                        <span class="h-offscreen">{{ 'anwählen um einen Kommentar zu schreiben' }}</span>
                    </a>
                </div>

                <div class="comments-header__placeholder comments--shrink"></div>

                {% block comment_reply %}
                    {% include '_comment-reply.twig' with { 'comments' : { 'replies' : comments.replies }, 'isMovable' : false } %}
                {% endblock %}

                {# encouragement to comment #}
                {% if comments.total_count == 0 %}
                    <div class="comments-infobox">
                        <p class="comments-infobox__text comments--shrink">
                            {{ 'Es wurden noch keine Kommentare erfasst. Seien Sie die erste Person, die diesen Artikel kommentiert.' }}
                        </p>
                    </div>
                {% endif %}
            {% endif %}
            {# else there's a reason that doesn't allow commenting #}
            {% if comments.reason_for_closure != '' %}
                <h3 class="comments-header__info-title comments--shrink">{{ 'Kommentarfunktion deaktiviert' }}</h3>
                <p class="comments-header__info-text comments--shrink{% if comments.total_count == 0 %} comments-header__info-text--padded{% endif %}">
                    {{ 'Uns ist es wichtig, Kommentare möglichst schnell zu sichten und freizugeben. Deshalb ist das Kommentieren bei älteren Artikeln und Sendungen nicht mehr möglich.' }}
                </p>
            {% endif %}

            {# show comments #}
            {% if comments.total_count > 0 %}
                <hr class="comments-header__border" aria-hidden="true">
                <ul class="tabs comments--shrink" role="tablist">
                    <li class="tab-option" role="presentation">
                        <a href="#sectionAll" class="tab-option__link tab-option__link--selected" tabindex="0" role="tab" aria-controls="sectionAll" aria-selected="true">{{ 'Alle Kommentare' }}</a>
                    </li>
                    {% if popularComments is not empty %}
                        <li class="tab-option" role="presentation">
                            <a href="#sectionHits" class="tab-option__link" tabindex="0" role="tab" aria-controls="sectionHits">{{ 'Beliebteste' }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>{# here ends the header #}
        {% if comments.total_count > 0 %}
            <div id="sectionAll" role="tabpanel">
                <ul class="comments comments--shrink comments--main" aria-live="polite">
                    {% block comments %}
                        {% include 'molecules-comment' with { 'comments': comments.comments, 'allowsComments': true } %}
                    {% endblock %}
                </ul>
                {% block more_button %}
                    {% include 'atoms-load-more' %}
                {% endblock %}
                {% block more_button_spinner %}
                    {% include 'atoms-spinner-container' %}
                {% endblock %}
            </div>
            {% if popularComments is not empty %}
                <div id="sectionHits" role="tabpanel" aria-hidden="true" style="display: none;">
                    <ul class="comments comments--shrink comments--popular">
                        <li class="comment">
                            <blockquote class="comment__content">Beliebteste Kommentare werden geladen.</blockquote>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>
