<div style="display:none;"><svg xmlns="http://www.w3.org/2000/svg"><g id="srf-logo" fill="none" fill-rule="evenodd"><path fill="#AF001D" d="M0 32h48V0H0z"/><g fill="#FFFFFF"><path d="M5.891 21.108l-.282 1.811c-.047.354.118.495.423.542.683.094 2.401.211 4.07.211 3.743 0 6.472-1.223 6.472-4.705 0-2.048-.894-3.577-4-4.377l-1.741-.447c-1.176-.306-1.718-.682-1.718-1.553 0-1.223 1.13-1.458 2.211-1.458 1.46 0 2.942.117 3.53.164.612.047.776-.024.87-.541l.284-1.765c.047-.353-.119-.494-.424-.54-.683-.095-2.189-.213-4.095-.213-3.883 0-5.764 1.694-5.764 4.377 0 2.423 1.317 3.859 3.6 4.446l1.741.448c1.435.377 2.047.8 2.047 1.694 0 1.317-.894 1.553-3.06 1.553-.987 0-2.704-.141-3.292-.188-.613-.048-.777.023-.872.54M36.246 14.52v-3.2h6.165c.47 0 .612-.166.612-.636V9.037c0-.47-.141-.635-.612-.635h-8.942c-.47 0-.612.164-.612.635v13.86c0 .47.142.635.612.635h2.165c.47 0 .612-.165.612-.636v-5.459h5.6c.47 0 .612-.164.612-.635v-1.647c0-.47-.142-.635-.612-.635h-5.6zM24.092 15.72l-.236.988c-.07.282-.094.423-.094.517 0 .236.07.424.236.706l2.8 5.036c.235.4.423.565.988.565h2.565c.329 0 .73-.212.353-.8l-3.436-5.695c1.153-.73 2.448-1.765 2.448-4.047 0-2.941-1.648-4.588-5.271-4.588h-5.248c-.471 0-.612.164-.612.635v13.86c0 .47.141.635.612.635h2.165c.47 0 .612-.165.612-.636V11.201h2.235c1.412 0 2.094.519 2.094 1.836 0 1.2-.54 1.577-1.082 1.812-.682.282-.918-.024-1.13.87"/></g></g></svg></div>
<div style="display:none;"><svg xmlns="http://www.w3.org/2000/svg"><g id="rtr-logo" fill="none" fill-rule="evenodd"><path fill="#AF001D" d="M0 32h48V0H0z"/><path fill="#FFFFFF" d="M10.885 15.756l-.23.98c-.07.28-.093.42-.093.512 0 .233.07.42.23.7l2.739 4.993c.23.397.414.559.967.559h2.508c.322 0 .713-.21.345-.793l-3.36-5.645c1.128-.723 2.393-1.75 2.393-4.013 0-2.915-1.61-4.549-5.154-4.549H6.099c-.46 0-.6.164-.6.63v13.74c0 .468.14.63.6.63h2.116c.461 0 .6-.162.6-.63V11.276H11c1.38 0 2.047.514 2.047 1.82 0 1.19-.529 1.563-1.058 1.796-.667.28-.897-.023-1.104.864m26 0l-.23.98c-.07.28-.092.42-.092.512 0 .233.07.42.23.7l2.738 4.993c.23.397.415.559.967.559h2.508c.322 0 .713-.21.345-.793l-3.36-5.645c1.128-.723 2.394-1.75 2.394-4.013 0-2.915-1.611-4.549-5.155-4.549h-5.131c-.46 0-.599.164-.599.63v13.74c0 .468.139.63.599.63h2.117c.46 0 .598-.162.598-.63V11.276H37c1.38 0 2.048.514 2.048 1.82 0 1.19-.53 1.563-1.058 1.796-.668.28-.898-.023-1.105.864M21.998 22.87c0 .468.137.63.596.63h2.112c.459 0 .596-.162.596-.63V11.347h3.902c.459 0 .596-.164.596-.63V9.13c0-.466-.137-.63-.596-.63H18.097c-.46 0-.597.164-.597.63v1.587c0 .466.138.63.597.63h3.9V22.87"/></g></svg></div>

<section class="article-comments l-content-wrapper js-article-comments"
         data-i18n-text-clock="Uhr"
         data-i18n-text-today="Heute"
         data-i18n-text-yesterday="Gestern">
    <div class="l-content-wrapper__space l-card expandable--expanded" data-total-count="{{ comments.total_count }}" {% block data_attributes %}{% endblock %}>
        <div class="comments-header--top">
            <div class="comments-header__group comments--shrink">
                <h3 class="comments-header__title">
                    {% if comments.total_count > 0 %}{{ comments.total_count }} {% endif %}
                    {% if comments.total_count == 1 %}
                        {{ 'Kommentar' }}
                    {% else %}
                        {{ 'Kommentare' }}
                    {% endif %}
                </h3>

                <div class="comments-header__group--push"></div>

                <div class="comments-header__expand-switch expand-icon expand-icon--with-text expand-icon--accentuated">
                    <span class="expand-icon__text expand-text--to-close">Ausblenden</span>
                    <span class="expand-icon__text expand-text--to-open">Einblenden</span>
                    <span class="expand-icon__icon expand-icon--open">
                      <span class="expand-icon__a11y-open h-offscreen">{{ textOpen|default("Navigation aufklappen") }}</span>
                      <span class="expand-icon__a11y-close h-offscreen">{{ textClose|default("Navigation zuklappen") }}</span>
                    </span>
                </div>
            </div>
        </div>

        <div class="comments-header">
            <p class="comments-header__text comments--shrink {{ styleModifier }}">
                {{ 'Sie sind angemeldet als' }}
                <a href="" class="comments-header__logged-in-as">Who ? (whoareyou)</a> (<a href=""
                                                              class="comments-header__logout">{{ 'abmelden' }}</a>)
            </p>

            {# show the button to comment #}
            {% if allowsComments %}
                <div class="comments-header__button-wrapper comments--shrink">
                    <a class="comments-header__button comments--shrink" href="#" role="link">
                        {{ 'Teilen Sie Ihre Meinung ...' }}
                        <span class="h-offscreen">{{ 'anwählen um einen Kommentar zu schreiben' }}</span>
                    </a>
                </div>

                <div class="comments-header__placeholder comments--shrink"></div>

                {% block comment_reply %}
                    {% include '_comment-reply.twig' with { 'comments' : { 'replies' : comments.replies }, 'isMovable' : false } %}
                {% endblock %}

                {# encouragement to comment #}
                {% if comments.total_count == 0 %}
                    <div class="comments-infobox">
                        <p class="comments-infobox__text comments--shrink">
                            {{ 'Es wurden noch keine Kommentare erfasst. Seien Sie die erste Person, die diesen Artikel kommentiert.' }}
                        </p>
                    </div>
                {% endif %}
            {% endif %}
            {# else there's a reason that doesn't allow commenting #}
            {% if comments.reason_for_closure != '' %}
                <h3 class="comments-header__info-title comments--shrink">{{ 'Kommentarfunktion deaktiviert' }}</h3>
                <p class="comments-header__info-text comments--shrink{% if comments.total_count == 0 %} comments-header__info-text--padded{% endif %}">
                    {{ 'Uns ist es wichtig, Kommentare möglichst schnell zu sichten und freizugeben. Deshalb ist das Kommentieren bei älteren Artikeln und Sendungen nicht mehr möglich.' }}
                </p>
            {% endif %}

            {# show comments #}
            {% if comments.total_count > 0 %}
                <hr class="comments-header__border" aria-hidden="true">
                <ul class="tabs comments--shrink" role="tablist">
                    <li class="tab-option" role="presentation">
                        <a href="#sectionAll" class="tab-option__link tab-option__link--selected" tabindex="0" role="tab" aria-controls="sectionAll" aria-selected="true">{{ 'Alle Kommentare' }}</a>
                    </li>
                    {% if popularComments is not empty %}
                        <li class="tab-option" role="presentation">
                            <a href="#sectionHits" class="tab-option__link" tabindex="0" role="tab" aria-controls="sectionHits">{{ 'Beliebteste' }}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>{# here ends the header #}
        {% if comments.total_count > 0 %}
            <div id="sectionAll" role="tabpanel">
                <ul class="comments comments--shrink comments--main" aria-live="polite">
                    {% block comments %}
                        {% include 'molecules-comment' with { 'comments': comments.comments, 'allowsComments': true } %}
                    {% endblock %}
                </ul>
                {% block more_button %}
                    {% include 'atoms-load-more' %}
                {% endblock %}
                {% block more_button_spinner %}
                    {% include 'atoms-spinner-container' %}
                {% endblock %}
            </div>
            {% if popularComments is not empty %}
                <div id="sectionHits" role="tabpanel" aria-hidden="true" style="display: none;">
                    <ul class="comments comments--shrink comments--popular">
                        <li class="comment">
                            <blockquote class="comment__content">Beliebteste Kommentare werden geladen.</blockquote>
                        </li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>
