{% import '_ticker.twig' as ticker %}

<div class="ticker__wrapper">
    <h2 class="ticker__title">Ticker live</h2>
    {% include 'molecules-text-list--unordered' %}
    <p class="ticker__info ticker__info--live">LIVE seit 3 Stunden</p>
    <div><!-- div to override styling :( -->
        <ul class="ticker ticker--live">
            <li class="ticker-item ticker-item--new">{{ ticker.ticker_heading('10:13', 1) }}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:07') }}{{ ticker_text|raw }}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:04', 2) }}{% include 'molecules-audio' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('09:56', 3) }}{% include 'molecules-image-figure' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('09:07', 4) }}{{ articleText.text[0:300]|raw }}...</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:42', 5) }}{% include 'molecules-video' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:35', 6) }}{% include 'molecules-blockquote' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:30', 7) }}{% include 'molecules-table-block' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:13', 8) }}{% include 'molecules-text-list--unordered' %}</li>
            <li class="ticker-item">
                {{ ticker.ticker_heading('08:22', 9) }}

                Es ist erstaunlich, wie viele Themen Barlow bereits vor 20 Jahren angesprochen hat. Noch heute bezieht
                sich der Hackerverein «Chaos Computer Club» auf einige Stellen seines Manifestes. Denn auch der Chaos
                Computer Club kämpft für freien Zugang zu Information sowie sichere Datenübermittlung im Netz und
                wehrt sich gegen staatliche Überwachung und Internetzensur.

                {% include 'molecules-text-list--unordered' %}
            </li>
        </ul>
    </div>
</div>
