<form id="form-ID" class="form {{ styleModifier }}" name="form-ID" method="get">
    <label form="form-ID" class="form__label">{{ form.title }}</label>
    <fieldset class="form-fieldset">
        <legend class="form-fieldset__legend">{{ form.legend }}</legend>
        {% include 'elements-checkbox' with { 'fieldID': 'checkbox-ID1', 'required': true } %}
        {% include 'elements-checkbox' with { 'fieldID': 'checkbox-ID2', 'required': false } %}
        <span class="form-fieldset__hint {{ styleModifier }}">{{ hintText|default("Hint") }}</span>
    </fieldset>
    <fieldset class="form-fieldset">
        <legend class="form-fieldset__legend">{{ form.legend }}</legend>
        {% include 'elements-radio-button' with { 'fieldID': 'radio-button-ID1' } %}
        {% include 'elements-radio-button' with { 'fieldID': 'radio-button-ID2' } %}
        <span class="form-fieldset__hint {{ styleModifier }}">{{ hintText|default("Hint") }}</span>
    </fieldset>
    <fieldset class="form-fieldset">
        {% if legentTitle is defined %}<legend class="form-fieldset__legend">{{ legentTitle|default('') }}</legend>{% endif %}
        {% include 'elements-input-field' with { 'labelText': 'Name, Vorname', 'fieldID': 'input-ID1', 'hintText': '', 'inputType': 'text', 'required': true } %}
        {% include 'elements-input-field' with { 'labelText': 'Geburtstag', 'fieldID': 'input-ID2', 'hintText': 'dd.mm.YYY', 'inputType': 'date', 'required': true } %}
        {% include 'elements-select' with { 'fieldID': 'menu-ID', 'labelText': 'Bitte wählen', 'required': false } %}
        {% include 'elements-submit-button' with { 'styleModifier' : 'submit-button--secondary', 'buttonText' : form.button } %}
    </fieldset>
    <p class="form__hint">{{ form.hint }}</p>
    {% include 'elements-submit-button' with {} %}
</form>