{% include 'atoms-content-heading' with {'styleModifier': 'content-header--table-heading'} %}
<div class="table-block">
    <table tabindex="0">
        <caption class="h-offscreen">Beschreibender Text für Screenreader</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Info</th>
            <th>Tipps</th>
        </tr>
        </thead>
        <tbody>
        {% for item in listItems.four %}
            <tr>
                <td>{{ item.name.last|e }}, {{ item.name.first|e }}</td>
                <td data-align="left">{{ item.headline.short|e }}</td>
                <td data-align="center">{{ item.excerpt.short|e }}</td>
                <td data-align="right">{{ item.headline.medium|e }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
