<div class="ticker__wrapper">
    <h2 class="ticker__title">Ticker live</h2>
    {% include 'elements-text-list--unordered' %}
    <p class="ticker__info ticker__info--live">LIVE seit 3 Stunden</p>
    <div><!-- div to override styling :( -->
        <ul class="ticker ticker--live">
            <li class="ticker-item ticker-item--new">{{ ticker.ticker_heading('10:13', 1) }}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:07') }}{{ ticker_text|raw }}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('10:04', 2) }}{% include 'components-audio' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('09:56', 3) }}{% include 'components-image-figure' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('09:07', 4) }}{{ articleText.text[0:300]|raw }}...</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:42', 5) }}{% include 'components-video' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:30', 6) }}{% include 'components-table-block' %}</li>
            <li class="ticker-item">{{ ticker.ticker_heading('08:13', 7) }}{% include 'elements-text-list--unordered' %}</li>
        </ul>
    </div>
</div>