<svg class="chmap" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
     width="511" height="326" viewBox="0 0 511 326" aria-label="{{ "Schweizerkarte" }}" role="img">
    {% if chmapShadow is not defined %}
        <defs>
            <filter id="drop-shadow" x="-60%" y="-60%" width="220%" height="220%">
                <feColorMatrix in="SourceGraphic" result="matrixOut" type="matrix"
                               values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0"></feColorMatrix>
                <feGaussianBlur in="matrixOut" result="blurOut" stdDeviation="2"></feGaussianBlur>
                <feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend>
            </filter>
        </defs>
    {% endif %}
    <style>.chmap__location--shadow { filter: url(#drop-shadow); }</style>
    <g>
        <a xlink:href="#AG" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[1].val }}"
           class="chmap--no-touch" role="link">
            <g id="AG-{{ idReference }}" class="chmap__location">
                <path d="M280.78 92.017l-1.612 2.506 1.79 15.575-6.624-1.79-5.728-21.125-5.192-2.327-5.192 9.13-3.4 1.074-1.97-1.79 2.685-1.97-.716-1.252-4.833 1.253-4.117-2.864-3.76.716.36 1.612-5.372.537-1.253-5.907-5.73.358.896 3.58-2.863 1.97-2.327-.536-7.877 1.074-1.97-4.655 6.266-7.698 1.61.18L226 74.83l3.937 1.433.358 2.506 6.445-3.223 2.506-8.772-1.79-.18-.537-2.147-4.298-2.686 2.15-.716-1.255-5.37-1.97.358-1.43-1.075.536-3.044-4.296-.358-5.55-8.056-2.148-.18-1.075 3.76-2.686 2.15-.896-.717-.537-3.044-7.877-3.58 8.414-2.147 3.58-5.55 2.865 1.432 4.833-.716 2.148 3.22.18 3.403 3.58.537 1.432-2.148 7.16 1.253 4.656-1.97 2.685.896 1.97-3.58 3.043-.358.18-1.074 5.01-1.97 1.79-2.684 2.15.537.716 2.15 6.982-.717 4.296 6.445 5.73.537 1.79-1.433 2.863 1.612-2.327 5.37-5.192 4.834 3.223 13.068-1.97 3.223 2.328 2.326 2.148 10.204 4.118-1.253-.894 3.043-2.15 1.254-4.116 2.864z"/>
            </g>
        </a><a xlink:href="#AR" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[2].val }}"
               class="chmap--no-touch" role="link">
            <g id="AR-{{ idReference }}" class="chmap__location">
                <path d="M415.403 61.94l-3.94-2.863-6.622-1.61-.895 2.505-10.025 3.4-4.475 4.12-17.723.894-4.297 5.37.358 4.118 2.865-.716 1.074 2.148-2.686 1.79 1.433 4.297-2.15 2.327 3.402 2.328 3.222-.538 5.908 3.402 2.327.358-2.865-7.52-.537-5.012 5.19-4.475-.178-5.013 3.044-.716 5.728 2.686 3.58 3.76 3.76-.18 1.253-7.877 1.97-2.506-.36-1.432 1.97-1.612 2.686 3.044.538-.18-.18-4.475 5.193.716 1.433-.537z"/>
            </g>
        </a><a xlink:href="#AI" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[3].val }}"
               class="chmap--no-touch" role="link">
            <g id="AI-{{ idReference }}" class="chmap__location">
                <path d="M384.864 71.04l2.796-.422 6.18 2.818 3.308 3.46 4.057-.155-1.916 10.486-11.503 7.98-4.578-2.013-2.936-7.422-.42-5.116L385 76.29zM404.227 66.562l-.496-1.644 1.97-1.505 2.685 3.11-2.685.536.773 2.5-4.27-.587zM408.775 61.8l5.21.707-2.605 2.086-.263 2.18-2.034-.17z"/>
            </g>
        </a><a xlink:href="#BE" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[4].val }}"
               class="chmap--no-touch" role="link">
            <g id="BE-{{ idReference }}" class="chmap__location">
                <path d="M109.277 99.357l3.043 5.55-2.506 6.98 6.266-3.937 11.636-1.612-.537 2.328.536 1.253 1.61-.538 5.372 1.61-1.253 6.446-5.37 3.938-1.433 4.476v2.327l3.76 3.22 15.932-4.832 3.044 3.938-2.865 2.865-.537 4.297 3.402-.18v1.612l-3.402 1.252-1.97 3.402 18.082 2.685.716 3.938-1.97 1.97-2.863-1.79-1.253 1.79 2.865 3.22-4.834 9.49.18 8.055 5.728 1.79-.537 1.97 3.937 1.79-2.864 8.056-3.58-2.507-1.433 10.383-1.61 1.79-1.97-1.074-2.506 3.4-3.044 1.612 1.253 6.087-3.938 11.46-2.864.536 1.612 6.265-1.61 3.045 3.042 4.654-.537 4.475 4.655-1.432.358-3.402 5.37-2.505.537 4.833 13.964-6.086 4.655.358 1.79 2.327 6.087-2.506-2.148-3.58 7.52-.895 3.22-4.475 9.31 4.833 14.68-9.667 15.038-6.266-.716-3.043 6.982-3.4 16.828 6.443 20.766-8.414 1.432-8.772 4.297-3.043-.894-6.265 6.086.358-.716-13.247-2.506-.895-3.222 1.433-3.402-3.223-8.772 4.834-3.76-1.97-11.815 1.612-10.384-5.55-6.445.537-1.61 1.254-11.278-10.742-.895-4.296-1.432-3.045 3.043-4.296-.716-2.328 3.043-1.97 1.432.358 5.013-11.1-5.908-.715-3.222-6.087.18-11.994 2.505-2.148-5.37-15.038.358-1.79-2.15-4.476-2.147-.716-1.432 1.79-1.432-1.97-3.044 1.254-2.148-.358-4.654-5.55-11.458 2.507 1.79 5.19 5.013 3.402.538 3.043 3.044 3.402-.717 2.864-2.506 1.254.178 1.074-.716.716-6.624-.18-2.864-3.4-4.297 1.074.538 2.506-2.15 4.118-5.19 1.97 1.074 3.4-3.582 1.79-.895-4.296-4.654.895-1.97-4.295 1.432-1.432 2.864 1.61 3.043-1.252-1.79-2.327 3.58-2.327 1.97.537 3.042-2.506-4.296-3.76-7.52 4.297-2.326-4.476-1.433-.18-1.61-4.295 8.592-3.76.178-1.432 5.37-1.968 5.91-4.296 1.968-.18 2.148-3.938 2.148-1.61-2.148-2.328-1.97 2.148 1.97 1.253-6.982 3.044-7.877-1.97-8.95.717-2.328 2.507-3.76.896-12.173-2.15-.358 3.403-2.148.716.537 2.864-6.624 2.148-1.073-1.432-2.864.358-4.118 6.982-3.4.716-1.254 2.685-3.4-1.97-8.057 5.193-.895-3.402z"/>
            </g>
        </a><a xlink:href="#BL" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[5].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="BL-{{ idReference }}" class="chmap__location">
                <path d="M168.175 58.182l-3.402-.537-.895-1.074-1.97.36 4.298 4.116 1.79-.358zM185.003 48.336l.18.18.715.894-.716 4.654-8.414 1.79-1.253-2.148-2.15.18-.357 2.148 1.612.358 1.97 2.864-.717 1.79-2.507.537-5.19-.537 3.58 5.55 3.043.358.536-3.76 3.58.18 2.327 2.685 3.402-2.15-.18-1.97h5.55l-.895-4.474 4.476 1.432 1.432-5.37-1.61-.717.357-3.042h4.654l1.61-1.432.717.895.358 1.612 3.4 2.506-2.863 4.655-.18 3.043-5.907 1.97 1.253 6.623h9.31l6.98 5.55.896-3.94 3.76-.716 1.253-2.327 3.76-.895-.538-1.432 1.43-2.328 2.508 1.79 5.37-3.4-1.97-3.58 1.97-2.328-1.432-1.075.537-3.044-4.296-.358-5.55-8.056-2.148-.18-1.075 3.94-2.686 1.79-.896-.537-.537-3.044-7.52-3.58-4.295 1.254-3.94-4.834-2.505.36.18 3.042-3.223 3.043-.537-3.043-3.223-.895.358-2.865-6.982 3.402 1.075 1.79 1.79-1.074v3.4l-2.328-.178.896 2.865 2.327.18z"/>
            </g>
        </a><a xlink:href="#BS" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[6].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="BS-{{ idReference }}" class="chmap__location">
                <path d="M198.608 38.49l3.58-.538-.178-5.19-3.58-.18-2.328 2.685h-2.148l-1.61-2.327-1.254 2.506-1.433.18-1.79 2.147.537 2.686 3.223 1.252.537 3.043 3.222-3.222-.358-2.864 3.76-.18z"/>
            </g>
        </a><a xlink:href="#FR" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[7].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="FR-{{ idReference }}" class="chmap__location">
                <path d="M108.203 140.71l-9.667 8.773-5.013 3.76 4.834 5.55 6.623 3.042h.18l1.61-1.432 5.37 1.253 1.97-3.94-.716-6.085 1.433-1.79zM116.08 133.37l-5.192 4.655 8.056 10.204v-2.686l1.074-.716 1.61 1.97 1.613-3.044z"/>
                <path d="M130.4 131.4l-.357 5.014 4.476 7.16-7.52 8.594-.537-1.61v-3.582l-1.432-.716-3.222 1.074-1.253 4.118 1.253 2.506-1.074 1.79-2.148-1.253-1.61 6.803-4.477 3.76 2.685 2.506-10.205 13.963-6.623 1.074L98 194.06l5.906-.538 3.58 3.043 2.15-.716v1.79l-4.298 4.117-5.012-1.433-.716 3.223 5.728 4.296 3.76-3.4 8.235 5.37.537 8.056 4.117-1.434 5.73-6.265 4.296.18 4.654-6.087h1.97l3.4-3.043 1.612 2.148 3.4-3.044 2.507-.895 3.043-4.118 1.97 1.074 1.61-1.79 1.433-10.383 3.58 2.506 2.864-8.057-3.938-1.79.536-1.97-5.73-1.79-.178-8.056 4.834-9.488-2.865-3.223 1.254-1.79 2.865 1.79 1.97-1.97-.717-3.938-6.803-1.075-11.278-1.61 1.97-3.403 3.4-1.253v-1.612l-3.4.18.536-4.297 2.865-2.864-3.044-3.938z"/>
                <path d="M109.098 166.848l-2.506 3.58-3.58-1.61-4.297 1.252-.716-1.61-3.045 2.863-1.432-2.685 4.118-2.686.36 1.97 4.116-.358 3.222-3.94-.18-1.79h.718z"/>
            </g>
        </a><a xlink:href="#GE" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[8].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="GE-{{ idReference }}" class="chmap__location">
                <path d="M21.02 233.085l-2.686 4.834 2.15 5.728-2.508 1.79-4.654-1.253-1.79 2.148-6.445 1.253-3.044 3.4 2.686 2.15-4.298 8.772H2.76l2.148-1.61 4.475 1.43 1.97-2.327 9.488 2.15 6.087-3.76v-2.506l10.563-5.192 3.58-5.19-1.432-2.33-3.402 2.15-2.864-4.476 1.79-2.327-1.253-2.15-5.91 6.803-2.147 7.16-3.222 1.433 1.433-8.235 1.79-2.684.18-3.76zM25.674 226.103l1.074 2.507 3.76.895.537-1.97-3.402-1.97z"/>
            </g>
        </a><a xlink:href="#GL" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[9].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="GL-{{ idReference }}" class="chmap__location">
                <path d="M345.943 104.906l-5.55 12.71 2.148 1.254-2.863 5.73-5.192 1.968-.716 2.685 7.697 10.383-3.4 6.445 2.147 6.446-9.667 5.73.716 4.653 6.266 3.58 8.055-2.865 6.802-10.383 3.223.537 2.148 3.58 15.396-10.205-.537-14.5-2.865-5.013-6.265.716-2.686-1.79 5.73-4.834v-9.488l-8.414-1.074-5.192.537z"/>
            </g>
        </a><a xlink:href="#GR" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[10].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="GR-{{ idReference }}" class="chmap__location">
                <path d="M402.155 132.297l-4.296-7.877 7.697-1.254 37.236 7.34.537 13.964 22.557 11.994 2.148 3.044 13.785-4.118 1.253-10.74 7.52-.538 3.937-8.95 4.655-1.79 11.1 10.203-2.686 21.124-3.94 2.685 1.61 6.265-5.906 10.563 1.253 8.056 5.19-.54 4.835 5.014-3.58 12.173-23.81-6.802.18-9.488-16.113 4.475-6.267 11.636-.358 16.29 10.025.896 3.402 7.16-6.266 8.773 9.13 11.816-6.087 5.907-9.668-1.074 1.253-6.086-8.593-8.772 1.79-5.192-9.13-3.94-16.29 6.983-3.58-2.328-3.402 9.488-18.26-2.148-9.13-12.89-.717-19.87-5.55 6.086-6.265-6.266-7.698 1.61-3.938 7.878 5.19 20.588-12.71 24.167-2.864.18-8.235-7.52-3.222-12.352 5.73-19.513-9.488-19.693 1.97-10.562-8.952-5.728-5.192 3.222.895 3.58-9.13 4.117-16.828-3.58-2.864-10.742 2.507-3.043.18-4.118 7.876-6.444 2.327-1.97 2.686 3.402 3.938-10.204 6.445-4.118 5.55 3.76 8.055-3.223 6.802-10.025 2.865.537 2.506 3.58 15.396-10.026 6.445 1.61 14.14 4.12 11.996-16.292z"/>
            </g>
        </a><a xlink:href="#JU" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[11].val }}"
               class="chmap--no-touch" role="link">
            <g id="JU-{{ idReference }}" class="chmap__location">
                <path d="M109.277 99.357l1.61-1.433.896 3.402 8.056-5.192 3.4 1.97 1.433-2.686 3.222-.537 4.118-7.16 2.864-.358 1.074 1.432 6.625-2.148-.537-2.864 2.148-.716.358-3.402h4.297l7.877 2.15 3.76-.897 2.327-2.506 8.95-.715 7.878 1.97 6.624-3.044-2.148-1.073 2.506-2.327-2.685-4.476h-6.446l-2.685-1.79-3.045-.358-3.76-5.37-1.79-.18-4.296-4.117-4.297.536-3.94 1.61-1.968-2.684-3.043.716-3.223-1.432 2.505-8.056-3.043.358-3.76-2.15-6.086 1.792-5.013-2.686-4.833 1.432 2.864 5.192-2.327 2.506H123.6l-3.224 1.97-.895 4.833-1.968-.358-1.074 3.4-2.865 1.79-.537 2.865 8.235-.18 6.983-2.147 4.476 5.37-1.613 2.328-3.938.18-1.79 4.653-5.55.715.715 7.34-7.52 6.087-2.505 3.043-3.043 1.79z"/>
            </g>
        </a><a xlink:href="#LU" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[12].val }}"
               class="chmap--no-touch" role="link">
            <g id="LU-{{ idReference }}" class="chmap__location">
                <path d="M286.687 132.476l.18-2.15-4.835-.357-.18 2.147-4.653-.358v-2.865l-1.792-.537-4.117 4.834-1.79-1.612h-5.19l-2.328 1.612-2.327-1.433-.538 3.4-2.506 1.433-1.43-.895-4.297 2.148 1.432 3.223-6.266 6.98-1.254-2.864-3.044 2.506-3.4 9.667.715 7.876-6.087.716-1.432 1.075-11.636-10.742-.895-4.296-1.432-3.045 3.043-4.296-.716-2.328 3.043-1.97 1.432.358 5.013-11.1-6.266-.894-3.222-6.624.537-11.278 2.505-2.148-5.37-15.038.358-1.79 7.877-1.074 2.327.537 2.864-1.97-.894-3.58 5.73-.357 1.252 5.908 5.37-.536-.358-1.612 3.76-.716 4.117 3.044 4.834-1.432.717 1.253-2.685 1.97 1.97 1.79 3.4-1.074 5.192-9.13 5.013 2.327 5.907 21.125 5.55 1.074 3.043 2.327 1.79-2.328.18 4.117-6.982 7.34 5.012.715 8.593 7.16-.895 2.686z"/>
            </g>
        </a><a xlink:href="#NE" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[13].val }}"
               class="chmap--no-touch" role="link">
            <g id="NE-{{ idReference }}" class="chmap__location">
                <path d="M92.27 135.877l-.358 4.833 2.148 1.79-1.074 3.94 3.043.178 2.506 2.865 9.667-8.773 2.685-2.685 5.192-4.654 10.562-5.19v-2.328l1.432-4.476 5.37-3.938 1.254-6.445-5.37-1.61-1.612.536-.537-1.254.536-2.328-10.92 1.254-6.982 4.296 1.432-3.222 1.074-3.76-3.043-5.55-13.427 8.415.716 1.97-1.432 1.253-3.222.537-1.61 2.506 3.22 2.865-3.042 2.328-4.655 1.97-4.833 5.012-11.816 3.4-1.074-1.968-7.698 7.877 3.402 6.444-.896 6.265 2.686.715 14.32-6.086h1.97l2.15-3.403z"/>
            </g>
        </a><a xlink:href="#NW" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[14].val }}"
               class="chmap--no-touch" role="link">
            <g id="NW-{{ idReference }}" class="chmap__location">
                <path d="M259.117 135.16l9.13.18-1.97 6.803 2.15 1.432 3.4-.537.18 2.506-2.327 14.86 4.296 5.906 3.58 3.402 3.223-1.61-.538-2.33-3.76-1.968-1.253-1.97.357-6.98-1.61-1.075 1.43-1.79 1.255 1.073-.717 1.074 3.58-1.074 2.328 1.97 4.118.357-.894-7.52 9.846-4.832 3.222-7.877-.537-1.61-8.056 1.79-3.22-1.253.536-3.76-4.834-.358-.18 2.147-4.653-.358v-2.865l-1.792-.537-4.117 4.834-1.79-1.612h-5.19l-2.328 1.612-2.327-1.433z"/>
            </g>
        </a><a xlink:href="#OW" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[15].val }}"
               class="chmap--no-touch" role="link">
            <g id="OW-{{ idReference }}" class="chmap__location">
                <path d="M285.97 155.39l3.58 2.327-2.326 11.458-4.118-.18-2.327-.894-.538-2.327-3.94-2.148-1.073-2.148.357-6.624-1.61-.895 1.43-1.97 1.255 1.075-.717 1.074 3.58-1.074 2.328 1.97zM274.334 166.13l-4.833-5.548 2.507-15.038-.18-2.506-3.4.537-2.15-1.432 1.97-6.803-9.13-.18-2.506 1.433-1.43-.895-4.297 2.148 1.432 3.223-6.266 6.98-1.254-2.864-3.044 2.506-3.4 9.667.715 7.876 5.73 2.328 5.01 3.222 11.28-1.79 3.938 2.506 8.95-5.192z"/>
            </g>
        </a><a xlink:href="#SG" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[16].val }}"
               class="chmap--no-touch" role="link">
            <g id="SG-{{ idReference }}" xlink:href="#SG" class="chmap__location">
                <path d="M399.828 107.055l.18-.358 4.475-17.007 10.204-15.575 4.117-.716 1.432-3.76-3.043-7.52 1.432-2.148-5.728-3.4-1.433 2.505 4.118 2.685-1.61.716-2.508 2.15-.358 2.147-2.327-.18-2.865.36.716 2.684-4.475-.717-.895 7.877-1.97 10.383-11.456 8.056-4.655-1.97-2.328-.358-5.908-3.402-3.222.538-3.402-2.328 2.15-2.327-1.434-4.296 2.686-1.79-1.074-2.15-2.865.717-.358-4.117 4.297-5.37 17.723-.896 4.475-4.117 10.025-3.4.896-2.507 6.087 1.432.537-.895-3.938-6.445-7.34 3.94-6.266-4.12-5.012 4.656-4.834-5.013-.537-4.296-7.877 3.044 2.327 1.61 3.044-.178v3.043l-3.76 1.254-12.888-3.94-5.192 3.223-7.877-2.685-4.654 2.148 5.548 6.803-12.173 10.383 4.117 9.487-5.37 9.668-15.217 2.685.537 1.97 3.94 3.938 14.5-1.612v2.865l-1.612.36.716 2.863 2.506-.537 8.772 8.593 5.192-.717 8.414 1.432v9.31l-5.55 4.654 2.507 1.968 6.265-.716 2.865 5.192.537 14.32 20.587 5.91 11.996-16.292-3.58-4.475-4.297-7.877-.18-1.79 5.012-4.118"/>
            </g>
        </a><a xlink:href="#SH" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[17].val }}"
               class="chmap--no-touch" role="link">
            <g id="SH-{{ idReference }}" class="chmap__location">
                <path d="M318.73 10.74l-2.863-2.684-2.685 1.253-1.253-4.655-2.866-2.15-.537 1.612.358 3.044-2.506 1.79-.896-6.086-5.192-2.327-.895 2.327 1.79 2.15-1.79.894-8.056.537-4.295 5.37-.537 2.686-4.655 3.94 1.432 2.505-1.61 1.254 1.073 1.43 6.982 4.476 6.087-1.253-.18-3.043 3.76-.895 1.253 1.79 5.37-2.506-1.073-2.687 3.222-.358 1.968 1.61 1.612-2.505-3.044-2.148 5.73.18.715 3.58 1.97-.18.895-3.58-3.222-2.327.895-1.97zM325.355 12.71l-3.58 4.834 3.76 2.327-1.254 2.33 8.952 4.295-1.97-6.266 2.15-1.433zM298.323 34.55l2.506.717-.18 3.223-2.685 3.938-2.685-5.192z"/>
            </g>
        </a><a xlink:href="#SO" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[18].val }}"
               class="chmap--no-touch" role="link">
            <g id="SO-{{ idReference }}" class="chmap__location">
                <path d="M231.548 56.034l1.97-.358 1.253 5.37-2.148.716 4.297 2.686.536 2.148 1.79.18-2.506 8.77-6.445 3.223-.358-2.507L226 74.83l-2.15 4.476-1.61.18-6.446 7.876-2.148-.716-1.432 1.61-1.432-1.79-2.685 1.075-2.507-.178-4.654-5.55-11.28 2.507 1.434 5.19 5.19 3.223.717 3.222 3.044 3.223-.895 3.043-2.506 1.254v1.253l-.717.358-6.445.18-2.864-3.58-4.297 1.252.538 2.148-2.15 4.297-5.19 1.79 1.074 3.58-3.76 1.79-.717-4.296-4.833.895-1.79-4.295 1.074-1.253.358-.18 2.864 1.612 3.043-1.253-1.79-2.327 3.58-2.327 1.97.537 3.042-2.506-4.296-3.76-7.52 4.297-2.326-4.476h-1.433l-1.61-4.475 8.592-3.76.178-1.432 5.37-1.968 5.91-4.296 1.968-.18 2.506-4.296 1.79-1.074-1.79-2.506-3.222-4.834-6.266.358-3.043-1.97.717-3.4h3.76l2.326 2.685 3.402-2.15-.18-1.79 5.55-.18-.895-4.474 4.476 1.432 1.432-5.37-1.61-.717.357-3.042h4.654l1.61-1.432.717.895.358 1.612 3.4 2.506-2.863 4.655-.18 3.4-5.907 1.612 1.253 6.624h9.31l6.98 5.55.896-3.94 3.76-.716 1.253-2.327 3.76-.895-.538-1.432 1.43-2.328 2.508 1.79 5.37-3.4-1.97-3.58M200.757 102.58l-1.433 1.43 1.79 1.254 1.79-1.61M173.008 56.034l-4.296 2.148-.716 3.043 4.833.537 3.043-.716.716-1.79-1.97-2.864M174.62 47.262l-1.254 3.043 3.402 1.432-1.253 1.97 1.253 2.148 8.414-1.79.716-4.655-.895-1.074h-1.97l-3.76 2.327-1.61-1.432"/>
            </g>
        </a><a xlink:href="#SZ" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[19].val }}"
               class="chmap--no-touch" role="link">
            <g id="SZ-{{ idReference }}" class="chmap__location">
                <path d="M345.943 104.906l-5.55 12.71 2.148 1.254-2.863 5.73-5.192 1.968-.716 2.685 7.697 10.383-3.4 6.445-9.668 4.477-2.33-7.52-2.505-.715-7.52.895-3.22 2.506-1.79-4.833-9.67-1.254-.357-5.728-3.4-.358-8.057 1.79-3.22-1.253.357-1.61 3.58-1.076 1.253-2.684-8.593-7.16-5.012-.717 6.982-7.34 7.34 3.76 4.654-.717.36 2.148 8.413-1.79 6.982-9.13-.895-2.506-1.253-2.506 13.605-7.52 3.94 3.94 14.5-1.612v2.865l-1.612.36.716 2.863 2.506-.358"/>
            </g>
        </a><a xlink:href="#TG" aria-describedby="infowindow-{{ idReference }}" role="link"
               aria-label="{{ menu[20].val }}"
               class="chmap--no-touch">
            <g id="TG-{{ idReference }}" class="chmap__location">
                <path d="M310.138 20.766l2.865-1.253 2.148.358 1.97-.178 7.16 2.507 9.31 4.474 3.223 1.432 11.994-4.833 15.038 1.79 24.347 15.396.358 3.4 5.728 5.192.358.358 4.655 4.117-.894.537-4.476-2.685-4.654 4.475-5.192-5.013-.537-3.94-7.877 2.866 2.148 1.253 3.223.18v3.043l-3.76 1.254-12.888-3.94-5.192 3.223-7.877-2.685-4.654 2.148 5.548 6.803-11.994 10.383-5.013-4.118 1.613-5.192-2.686-15.037-4.654-.538-1.61-3.76 1.79-1.252-4.298-3.58-6.624-1.612.36-5.19 6.086 3.4 2.507-6.265-3.94-3.76-4.116 4.118-6.803-1.61"/>
            </g>
        </a><a xlink:href="#TI" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[21].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="TI-{{ idReference }}" class="chmap__location">
                <path d="M325.713 203.547l9.13-4.118-.895-3.58 5.192-3.223 8.95 5.728-1.968 10.562 9.488 19.693-5.73 19.513 3.223 12.353 8.235 7.518-9.488 9.13.18 7.877-7.878 4.835 1.433 7.16-3.223 3.044 10.025 11.457-7.697 13.605-11.995-2.327 2.506-6.982-6.085-13.606-10.384-5.37 7.34-13.427-11.814-8.235-4.118 3.58-14.32-7.697-6.804-12.353-9.488-13.247L284 235.95l-1.61-16.828-8.056 1.61 1.79-6.98h5.013l4.655-5.372 4.654-1.61-.358-4.118 2.327-3.402 11.995 3.58 4.475-2.864"/>
            </g>
        </a><a xlink:href="#UR" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[22].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="UR-{{ idReference }}" class="chmap__location">
                <path d="M278.63 188.15l1.254 1.254-1.79 9.488 2.506 7.52 4.655 1.79 5.19-1.433-.357-4.118 2.327-3.402 11.995 3.58 4.475-3.043-2.864-10.562 2.507-2.864-.18-4.117 10.563-8.593 2.686 3.402 4.117-10.742 5.55-3.4-.716-4.655 9.667-5.73-2.148-6.444-9.667 4.477-2.33-7.52-2.505-.715-7.52.895-3.22 2.506-1.79-4.833-9.67-1.254-.357-5.728-3.4-.358.536 1.61-3.222 7.878-9.846 4.833.895 7.52 3.58 2.327-2.326 11.458-4.118-.18.716 13.248-6.086-.358"/>
            </g>
        </a><a xlink:href="#VD" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[23].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="VD-{{ idReference }}" class="chmap__location">
                <path d="M143.65 237.024l-21.305 22.556-17.723-34.55 6.445-.717v-5.19l-9.488-6.625-10.384-4.118-1.61.358-15.218-5.728-5.55 1.432-3.222-1.61-13.248 8.592-5.55-.358-8.234 10.74-3.044.36-4.475 5.37-3.402-1.97-1.97.537v-.18l-.357-3.042-10.204-6.444 2.685-4.475-1.253-3.222 10.025-12.71-4.834-5.192 6.265-5.19 17.545-14.86 15.933-10.204.358-2.685-2.506-3.58 3.58-6.088 2.328.715 15.217-6.086 1.074.178 2.863-3.58 7.877-3.58-.358 4.832 2.148 1.79-1.074 3.94 3.043.178 2.506 2.865-5.013 3.76 4.834 5.55 6.265 2.863.358.18.358 1.79-3.4 3.938-3.94.358-.357-1.97-4.117 2.686 1.432 2.685L98 168.46l.715 1.79 4.296-1.433 3.403 1.79 2.685-3.76-3.76-5.19 1.433-1.254 5.37 1.253 1.97-3.94-.716-6.085 1.433-1.79-6.624-9.13 2.685-2.685 8.056 10.204v-2.686l1.074-.716 1.79 2.506-1.253 4.118 1.253 2.506-1.074 1.79-2.148-1.253-1.61 6.803-4.477 3.76 2.685 2.506-10.205 13.963-6.623 1.074L98 194.06l5.906-.538 3.58 3.043 2.15-.716v1.79l-4.298 4.117-5.012-1.433-.716 3.223 5.728 4.296 3.76-3.4 8.235 5.37.537 8.056 4.117-1.434 5.73-6.265 4.296.18 4.654-6.087h1.97l3.4-3.043 1.612 2.148 3.4-3.044 1.253 6.087-3.938 11.46-2.864.536 1.612 6.265-1.61 3.045 3.042 4.654"/>
                <path d="M116.08 133.37l7.16 10.384-1.61 2.685.178.894 3.223-1.074 1.433.716v3.58l.537 1.612 7.52-8.593-4.477-7.16.358-5.014-3.758-3.22M21.02 233.085l5.012 3.402 4.476-6.982-3.76-.895-1.432-2.686"/>
            </g>
        </a><a xlink:href="#VS" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[24].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="VS-{{ idReference }}" class="chmap__location">
                <path d="M285.792 208.38l-4.655 5.37h-5.013l-1.79 6.983-10.204 6.803 3.222 2.327-.537 2.864-17.544 12.71-2.684-1.61-6.445 7.16 9.31 13.785-7.16 10.562-8.056 1.79v8.593l-5.73 7.877-8.77-.358-5.73 12.71-12.71-4.117-2.507 2.685-1.79-1.432-5.728-7.34-12.533-1.79-.895 4.654-7.34.537-.537 2.685-10.562 5.728-9.488-4.296-4.834 5.19-5.728 1.433-1.61 3.044-5.908-2.687-4.118 2.328-9.667-18.976 1.43-1.074-9.13-14.142-5.907 3.043-1.432-1.43 3.224-11.46-11.1-2.505-1.432-3.938 3.4-3.94-.357-3.58 6.803-12.53-9.846-11.995L98 224.134l6.622.895 17.723 34.55 21.662-22.735 4.655-1.432.358-3.402 5.37-2.505.537 4.833 13.964-6.086 4.655.358 1.79 2.327 6.087-2.506-1.79-3.58 7.16-.895 3.223-4.475 9.31 4.833 14.68-9.667 15.037-6.266-.716-3.043 6.266-3.76 17.544 6.803 20.766-8.414 1.432-8.772 4.297-3.938 1.433 1.79-1.97 9.667 2.507 7.698"/>
            </g>
        </a><a xlink:href="#ZG" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[25].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="ZG-{{ idReference }}" class="chmap__location">
                <path d="M280.958 110.098l1.97 1.61 1.79-2.326.18 4.117 7.338 3.76 4.655-.717.36 2.148 8.413-1.79 6.982-9.308-.895-2.328-3.402.716-.895-1.432-3.222-.716-4.475-6.982-7.698-.537-4.117 1.253-6.087-2.506-.895-3.222-1.97 3.043z"/>
            </g>
        </a><a xlink:href="#ZH" aria-describedby="infowindow-{{ idReference }}" aria-label="{{ menu[26].val }}"
               role="link"
               class="chmap--no-touch">
            <g id="ZH-{{ idReference }}" class="chmap__location">
                <path d="M298.323 34.55l1.79-1.79-5.907-4.117-1.433 3.044-3.58.358-2.506 1.61.895 2.686 3.043.18.358 1.253-7.34 1.79-2.327 5.37-5.192 4.835 3.223 13.068-1.61 3.044 1.968 2.506 2.148 10.204 4.118-1.253-.894 3.043-6.087 3.94 2.863 10.56 6.087 2.686 3.58-1.253 8.235.537 4.476 6.982 3.223.716.895 1.432 3.402-.716-1.253-2.506 13.605-7.52-.716-1.968 15.396-2.864 5.37-9.49-4.117-9.487-4.834-4.118 1.434-5.37-2.507-14.86-4.654-.537-1.79-3.938 1.97-1.074-4.298-3.58-6.624-1.612.36-5.01 6.086 3.22 2.507-6.444-3.94-3.58-4.116 4.117-6.803-1.61-2.507-5.91-2.148-1.968-3.223.358 1.074 3.402-2.326.537 2.864 3.043-4.117 1.432.896 4.476-2.507 2.685-.18 3.402-2.685 3.938-2.685-5.192"/>
            </g>
        </a>
    </g>
    <use id="selector-{{ idReference }}" xlink:href="#00"/>
</svg>
