<div class="image-figure__image-wrapper">
    <img class="image-figure__image"
         alt="{{ image.caption.title }}"
         title="{{ image.caption.title }}"
         sizes="{{ sizes }}"
         srcset="
                        {% for source in image.sources %}
                            {{ source.src }} {{ source.width }}w
                            {{ loop.last ? '' : ',' }}
                         {% endfor %}
                     "
         src="{{ image.sources.s8.src }}">
    {% block image_carousel_counter %}
        {% if currentIndex and totalCount %}
            {% include 'elements-carousel-counter' with { 'currentIndex': currentIndex, 'totalCount': totalCount } %}
        {% endif %}
    {% endblock %}
</div>
