<figcaption class="media-caption {{ styleModifier }}">
        <span class="media-caption__title">
            {{ images[0].caption.title }}
        </span>
        <span class="media-caption__description">
            {{ images[0].caption.description }}
        </span>
        <span class="media-caption__source">
            {% if images[0].caption.source_link is defined %}
                <a class="media-caption__source-link" href="{{ images[0].caption.source_link }}" target="_blank">
            {% endif %}
                {{ images[0].caption.source }}
            {% if images[0].caption.source_link is defined %}
                </a>
            {% endif %}
        </span>
</figcaption>
