<div class="media-caption {{ styleModifier }}" role="text">
    <span class="h-offscreen">Audio</span>
    {% if audio.title %}
        <div class="media-caption__title media-caption__title--audio">{{ audio.title }}</div>
    {% endif %}

    <div class="media-caption__source media-caption__source--audio">{{ audio.length }} min,
        {% if audio.show and audio.show.title %}
            aus <strong class="media-caption__source-title">{{ audio.show.title }}</strong>
        {% endif %}
        vom {{ audio.show.date|date("d.m.Y")  }}
    </div>
    <span class="h-offscreen">abspielen</span>
</div>