<figure class="article-media">
    {% if media_type == "audio" or media_type == "video" %}
    <a class="article-media__link" href="{{ media.player_url }}/srf/popup?urn={{ media.urn }}&autoplay=true">
    {% endif %}
        <img class="image-figure__image"
            {% if media_type == "image" %}
                alt="{{ media_title }}"
                title="{{ media_title }}"
            {% else %}
                alt="{{ media_type|capitalize }} «{{ media_title }}» abspielen"
                title="{{ media_type|capitalize }} «{{ media_title }}» abspielen"
            {% endif %}
             sizes="100vw"
             srcset="{% for source in image.sources %}
                        {{ source.src }} {{ source.width }}w,
                     {% endfor %}"
             src="{{ image.sources.s8.src }}">
        {% if media_type == "audio" or media_type == "video" %}
        <div class="article-media__link-meta">
            <img class="article-media__play-icon" src="/assets/demo/img/{{ media_type }}-play.svg" width="72" height="72" alt="">
            <span class="article-media__length">{{ media_length }}</span>
        </div>
    </a> {# no links for images - and no dim #}
    {% endif %}
    <!-- figcaption deliberately omitted (design) -->
</figure>