<form id="poll-ID{{ pollIndex }}" class="poll-wrapper {{ styleModifier }}" name="poll_{{ pollIndex }}" method="get" data-src="../../assets/demo/poll-data.json">
    <fieldset class="poll-fieldset">
        {# images here only if no media is present below #} {#
        <figure class="image-figure {{ styleModifier }}">
            <div class="image-figure__image-wrapper">
                <img class="image-figure__image"
                     alt="{{ images[0].caption.title }}"
                     title="{{ images[0].caption.title }}"
                     sizes="100vw"
                     srcset="
                        {% for source in images[2].sources %}
                            {{ source.src }} {{ source.width }}w,
                        {% endfor %}"
                     src="{{ images[2].sources.s8.src }}">
            </div>
            <!-- figcaption class="media-caption media-caption--poll">
                <span class="media-caption__description media-caption__description--poll"></span>
            </figcaption -->
        </figure> #}
        {% set media_options = { "media": { "type": "bild", "title" : images[0].caption.title, "length" : 0, "player_url": null, "urn" : null }, "image" : images[1 ] } %}
        {% include "media.twig" with media_options %}
        <legend class="poll-fieldset__legend">{{ poll.description }}</legend>
        <ol class="poll">
            {% for question in 0..2 %}
            <li class="poll-option">
                {{ option.question_label( pollIndex, loop.index0, poll.answers.0 ) }}
                {{ option.rating_box( loop.index0, poll.answers.0, {}) }}
            </li>
            {% endfor %}
        </ol>
        {{ option.form_submit(poll, styleModifier) }}
    </fieldset>
</form>