{% macro question_label(pollIndex, optionIndex, answer_title, answer_description) %}
    <input type="radio" id="poll_q{{ pollIndex }}{{ optionIndex }}" class="poll-option__radio">
    <label for="poll_q{{ pollIndex }}{{ optionIndex }}" class="poll-option-label">
        <p class="poll-option-label__title">{{ answer_title }} {{ optionIndex + 1 }}</p>
        {% if answer_description %}
            <p class="poll-option-label__description">{{ answer_description }}</p>
        {% endif %}
    </label>
    <!-- figcaption class="media-caption media-caption--poll">
        <input type="radio" id="poll_q{{ pollIndex }}{{ optionIndex }}" class="poll-option__radio">
        <label for="poll_q{{ pollIndex }}{{ optionIndex }}" class="poll-option-label">
            <p class="poll-option-label__title">{{ answer_title }} {{ optionIndex + 1 }}</p>
            {% if answer_description %}
                <p class="poll-option-label__description">{{ answer_description }}</p>
            {% endif %}
        </label>
    </figcaption -->
{% endmacro %}
{% macro rating_box(optionIndex, answer_title, media_options) %}
    <div class="poll-option-rating">
        <div class="poll-option-rating__bg-color"></div>
        <p class="poll-option-rating__answer-copy">{{ answer_title }} {{ optionIndex + 1 }}</p>
        <p class="poll-option-rating__percent"><strong></strong>%</p>
    </div>
{% endmacro %}
{% import _self as option %}

{% set pollIndex = 1 %}
<h2>{{ poll.title }} {{ pollIndex }}</h2>
<form id="poll-ID{{ pollIndex }}" class="poll-wrapper" name="poll_{{ pollIndex }}" method="get" data-src="../../assets/demo/poll-data.json">
    <figure class="image-figure {{ styleModifier }}">
        <figcaption class="media-caption media-caption--poll">
            <span class="media-caption__description media-caption__description--poll">
                {{ poll.description }}
            </span>
        </figcaption>
    </figure>
    <ol class="poll poll--with-media">
        {% set i = 0 %}
        <li class="poll-option poll-option--with-media">
            {% set media_options = { "media_type": "bild", "media_title" : images[2].caption.title, "media_length" : 0, "image" : images[2] } %}
            {% include "media.twig" with media_options %}
            {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
            {{ option.rating_box( loop.index0, poll.answers.0, media_options ) }}
        </li>
        <li class="poll-option poll-option--with-media">{% set i = i + 1 %}
            {# Video #}
            {% set media_options = { "media_type": "video", "media_title" : videos[0].title, "media_length" : videos[0].length, "image" : images[2] } %}
            {% include "media.twig" with media_options %}
            {# // Video #}
            {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
            {{ option.rating_box( loop.index0, poll.answers.0, media_options) }}
        </li>
        <li class="poll-option poll-option--with-media">{% set i = i + 1 %}
            {# Audio #}
            {% set media_options = { "media_type": "audio", "media_title" : audios[0].title, "media_length" : audios[0].length, "image" : images[2] } %}
            {% include "media.twig" with media_options %}
            {# // Audio #}
            {{ option.question_label( pollIndex, i, poll.answers.1.title, poll.answers.1.description ) }}
            {{ option.rating_box( loop.index0, poll.answers.0, media_options ) }}
        </li>
    </ol>
    <input type="submit" class="poll__submit" value="{{ poll.submit }}">
    <!-- div class="poll-roundup"><p><strong></strong> Stimmen wurden abgegeben</p></div -->
    <p class="poll-roundup"><strong></strong> {{ poll.total }}</p>

</form>

{% include 'components-poll--simple' %}
