<form id="poll-ID{{ pollIndex }}" class="poll-wrapper {{ styleModifier }}" name="poll_{{ pollIndex }}" method="get" data-src="../../assets/demo/poll-data.json">
    <fieldset class="poll-fieldset">
    {# here is never an image - as the poll contains media #}
        <legend class="poll-fieldset__legend">{{ poll.description }}</legend>
        <ol class="poll poll--with-media poll--setup"> {# with-media & setup solely for polls with media! #}
            {% set i = 0 %}
            <li class="poll-option">
                {# Image #}
                {% set media_options = { "media": { "type": "bild", "title" : images[0].caption.title, "length" : 0, "player_url": null, "urn" : null }, "image" : images[0] } %}
                {{ option.rating_box( i, poll.answers.0, media_options ) }}
                {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
                {# // Image #}
            </li>
            <li class="poll-option">{% set i = i + 1 %}
                {# Video #}
                {% set media_options = { "media": { "type": "video", "title" : videos[0].title, "length" : videos[0].length, "player_url": videos[0].player_url, "urn" : videos[0].urn }, "image" : images[2] } %}
                {{ option.rating_box( i, poll.answers.0, media_options) }}
                {{ option.question_label( pollIndex, i, poll.answers.1.title, poll.answers.1.description ) }}
                {# // Video #}
            </li>
            <li class="poll-option">{% set i = i + 1 %}
                {# Audio #}
                {% set media_options = { "media": { "type": "audio", "title" : audios[0].title, "length" : audios[0].length, "player_url": audios[0].player_url, "urn" : audios[0].urn }, "image" : images[2] } %}
                {{ option.rating_box( i, poll.answers.0, media_options ) }}
                {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
                {# // Audio #}
            </li>
        </ol>
        {{ option.form_submit(poll, styleModifier) }}
    </fieldset>
</form>