{% macro question_label(pollIndex, optionIndex, answer_title, answer_description) %}
    <input type="radio" id="poll_q{{ pollIndex }}{{ optionIndex }}" class="poll-option__radio">
    <label for="poll_q{{ pollIndex }}{{ optionIndex }}" class="poll-option-label">
        <p class="poll-option-label__title">{{ answer_title }} {{ optionIndex + 1 }}</p>
        {% if answer_description %}
            <p class="poll-option-label__description">{{ answer_description }}</p>
        {% endif %}
    </label>
{% endmacro %}
{% macro rating_box(optionIndex, answer_title, media_options) %}
   <div class="poll-option-wrapper">
        {% if media_options is not empty %}
            {% include "media.twig" with media_options %}
        {% endif %}
         <div class="poll-option-rating">
            <div class="poll-option-rating__bg-color"></div>
            <p class="poll-option-rating__answer-copy">{{ answer_title }} {{ optionIndex + 1 }}</p>
            <p class="poll-option-rating__percent"><strong></strong>%</p>
        </div>
    </div>
{% endmacro %}
{% import _self as option %}

{% set pollIndex = 1 %}
<h2>{{ poll.title }} {{ pollIndex }}</h2>
<form id="poll-ID{{ pollIndex }}" class="poll-wrapper" name="poll_{{ pollIndex }}" method="get" data-src="../../assets/demo/poll-data.json">
    <figure class="image-figure {{ styleModifier }}">
        <figcaption class="media-caption media-caption--poll">
            <span class="media-caption__description media-caption__description--poll">
                {{ poll.description }}
            </span>
        </figcaption>
    </figure>
    <ol class="poll poll--with-media poll--setup"> {# with-media & setup solely for polls with media! #}
        {% set i = 0 %}
        <li class="poll-option">
            {# Image #}
            {% set media_options = { "media": { "type": "bild", "title" : images[2].caption.title, "length" : 0, "player_url": null, "urn" : null }, "image" : images[2] } %}
            {{ option.rating_box( loop.index0, poll.answers.0, media_options ) }}
            {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
            {# // Image #}
        </li>
        <li class="poll-option">{% set i = i + 1 %}
            {# Video #}
            {% set media_options = { "media": { "type": "video", "title" : videos[0].title, "length" : videos[0].length, "player_url": videos[0].player_url, "urn" : videos[0].urn }, "image" : images[2] } %}
            {{ option.rating_box( loop.index0, poll.answers.0, media_options) }}
            {{ option.question_label( pollIndex, i, poll.answers.1.title, poll.answers.1.description ) }}
            {# // Video #}
        </li>
        <li class="poll-option">{% set i = i + 1 %}
            {# Audio #}
            {% set media_options = { "media": { "type": "audio", "title" : audios[0].title, "length" : audios[0].length, "player_url": audios[0].player_url, "urn" : audios[0].urn }, "image" : images[2] } %}
            {{ option.rating_box( loop.index0, poll.answers.0, media_options ) }}
            {# // Audio #}
            {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
        </li>
    </ol>
    <div class="poll-form-handling">
        <span class="poll-form-handling__errors"></span>
        <input class="submit-button" type="submit" value="{{ poll.submit }}">
        <p class="poll-form-handling__roundup"><strong></strong> {{ poll.total }}</p>
    </div>
</form>

{% include 'components-poll--simple' %}
