{% import '_poll.twig' as option %} {# with-media & setup solely for polls with media! #}
{% set list_entries = 3 %}
{% set pollIndex = pollIndex|default(2) %}
{#{% set pollIndex = styleModifier == "poll--with-ratios" ? 4 : 2 %}#}
<form id="poll-ID{{ pollIndex }}" class="poll-wrapper poll--with-media poll--setup {{ styleModifier }}" name="poll_{{ pollIndex }}" method="get" data-src="../../assets/demo/poll-data.json">
    <fieldset class="poll-fieldset">
    {# here is never an image - as the poll contains media #}
        <legend class="poll-fieldset__legend">{{ poll.description }}</legend>
        <ol class="poll">
            {% set i = 0 %}
            <li class="poll-option">
                {# Image #}
                {% set media_options = { "media": { "type": "bild", "title" : images[0].caption.title, "length" : 0, "player_url": null, "urn" : null }, "image" : images[0] } %}
                {{ option.rating_box( i, poll.answers.0, media_options ) }}
                {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
                {# // Image #}
            </li>{% set i = i + 1 %}{# if poll--with-media && total no of list entries % 2 == 0 => #}
            <li class="poll-option{% if list_entries % 2 == 0 and styleModifier != 'poll--with-radios' %} poll-option--save-the-margin{% endif %} {{ styleModifier }}">{# this would be <li class="poll-option poll-option--save-the-margin"> #}
                {# Video #}
                {% include 'atoms-media-window' %}
                {% set media_options = { "media": { "type": "video", "title" : videos[0].title, "length" : videos[0].length, "player_url": videos[0].player_url, "urn" : videos[0].urn }, "image" : images[2] } %}
                {{ option.rating_box( i, poll.answers.0, media_options) }}
                {{ option.question_label( pollIndex, i, poll.answers.1.title, poll.answers.1.description ) }}
                {# // Video #}
            </li>{% set i = i + 1 %}{# since this is poll--with-media && this list has an uneven no of entries: #}
            <li class="poll-option{% if styleModifier != 'poll--with-radios' %} poll-option--save-the-margin{% endif %}">
                {# Audio #}
                {% set media_options = { "media": { "type": "audio", "title" : audios[0].title, "length" : audios[0].length, "player_url": audios[0].player_url, "urn" : audios[0].urn }, "image" : images[2] } %}
                {{ option.rating_box( i, poll.answers.0, media_options ) }}
                {{ option.question_label( pollIndex, i, poll.answers.0 ) }}
                <div class="article-audiox__player player-wrapper--js"></div>
                {# // Audio #}
            </li>
        </ol>
        {{ option.form_submit(poll, styleModifier) }}
    </fieldset>
</form>