<figure class="image-figure {{ styleModifier }}">
    <div class="image-figure__image-wrapper">
        <img class="image-figure__image"
             alt="{{ images[0].caption.title }}"
             title="{{ images[0].caption.title }}"
             sizes="100vw"
             srcset="
                {% for source in images[0].sources %}
                    {{ source.src }} {{ source.width }}w,
                 {% endfor %}
             "
             src="{{ images[0].sources.s8.src }}">
        {% if currentIndex and totalCount %}
            {% include 'elements-carousel-counter' with { 'currentIndex': currentIndex, 'totalCount': totalCount } %}
        {% endif %}
    </div>
    {% include 'elements-media-caption' with {'styleModifier': imageCaptionStyle } %}
</figure>
