<ol class="log">
  <li class="log__entry {{styleModifierEntry}}">
    <div class="log__time {{styleModifierTime}}">09:53</div>
    <div class="log__info">
      <span class="log__title {{styleModifierTitle}}">Ferry Me Over</span>
      <span class="log__artist {{styleModifierArtist}}">Bo Katzman and the Cat and so on</span>
    </div>
  </li>
  <li class="log__entry {{styleModifierEntry}}">
    <div class="log__time {{styleModifierTime}}">09:49</div>
    <div class="log__info">
      <span class="log__title {{styleModifierTitle}}">Money's Too Tight To Mention</span>
      <span class="log__artist {{styleModifierArtist}}">Simply Red</span>
    </div>
  </li>
  <li class="log__entry {{styleModifierEntry}}">
    <div class="log__time {{styleModifierTime}}">03:21</div>
    <div class="log__info">
      <span class="log__title {{styleModifierTitle}}">This Old Heart Of Mine</span>
      <span class="log__artist {{styleModifierArtist}}">Stefanie Heinzmann</span>
    </div>
  </li>
  <li class="log__entry {{styleModifierEntry}}">
    <div class="log__time {{styleModifierTime}}">01:42</div>
    <div class="log__info">
      <span class="log__title {{styleModifierTitle}}">In Our Lifetime</span>
      <span class="log__artist {{styleModifierArtist}}">Texas</span>
    </div>
  </li>
  <li class="log__entry {{styleModifierEntry}}">
    <div class="log__time {{styleModifierTime}}">09:49</div>
    <div class="log__info">
      <span class="log__title {{styleModifierTitle}}">You will. You? Will. You? Will. You? Will.</span>
      <span class="log__artist {{styleModifierArtist}}">Bright Eyes</span>
    </div>
  </li>
  <li class="log__entry {{styleModifierEntry}}">
    <div class="log__time {{styleModifierTime}}">09:49</div>
    <div class="log__info">
      <span class="log__title {{styleModifierTitle}}">You will. You? Will. You? Will. You? Will.</span>
      <span class="log__artist {{styleModifierArtist}}"> Mincing Fury And Guttural Clamour Of Queer Decay</span>
    </div>
  </li>
</ol>
