<div class="rtv">
  <ul class="rtv-list rtv-list--arrow">
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__title">Play SRF</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__title">Sendungen A-Z</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__title">Podcasts</span>
      </a>
    </li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-title">Livestreams</h3>
  </div>
  <ul class="rtv-list rtv-list--program">
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">LIVE</span>
        <span class="rtv-link__title">Debatte über die Selbstbestimmungs-Initiative im Ständerat</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">LIVE</span>
        <span class="rtv-link__title">Eishockey: Playoff-Viertelfinal, Fribourg - Lugano</span>
      </a>
    </li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-title">Jetzt im TV</h3>
    <a class="rtv-morelink" href="#">TV-Programm <span class="svg-icon svg-icon--arrow-right"></span></a>
  </div>
  <ul class="rtv-list rtv-list--program">
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">SRF 1</span>
        <span class="rtv-link__title">Kreuzfahrt ins Glück: Hochzeitreise nach Bermuda</span>
        <progress class="rtv-link__progress" value="58" max="100"></progress>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">SRF zwei</span>
        <span class="rtv-link__title">Chicago Fire</span>
        <progress class="rtv-link__progress" value="21" max="100"></progress>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">SRF info</span>
        <span class="rtv-link__title">Auf und davon</span>
        <progress class="rtv-link__progress" value="78" max="100"></progress>
      </a>
    </li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-title">Jetzt im Radio</h3>
    <a class="rtv-morelink" href="#">Radio-Programm <span class="svg-icon svg-icon--arrow-right"></span></a>
  </div>
  <ul class="rtv-list rtv-list--compact">
    <li>
      <a class="rtv-link" href="/radio-srf-1">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-srf-1.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-srf-1-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio SRF 1</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-srf-2">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-srf-2.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-srf-2-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio SRF 2 Kultur</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-srf-3">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-srf-3.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-srf-3-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio SRF 3</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-srf-4-news">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-srf-4.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-srf-4-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio SRF 4 News</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-srf-musikwelle">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-srf-musikwelle.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-srf-musikwelle-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio SRF Musikwelle</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-srf-virus">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-srf-virus.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-srf-virus-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio SRF Virus</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-swiss-pop">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-swiss-pop.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-swiss-pop-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio Swiss Pop</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-swiss-classic">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-swiss-classic.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-swiss-classic-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio Swiss Classic</span>
      </a>
    </li>
    <li>
      <a class="rtv-link" href="/radio-swiss-jazz">
        <img class="rtv-radiologo" src="{{ frameworkAssetPath }}/img/radiologos/radio-swiss-jazz.png" srcset="{{ frameworkAssetPath }}/img/radiologos/radio-swiss-jazz-hd.png 2x" alt="">
        <span class="rtv-radiostation">Radio Swiss Jazz</span>
      </a>
    </li>
  </ul>
</div>
