<div class="rtv">
  <ul class="rtv-list rtv-list--arrow">
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <span class="rtv-link__title">Play SRF</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <span class="rtv-link__title">Sendungen A-Z</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <span class="rtv-link__title">Podcasts</span>
      </a>
    </li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-head__title">Livestreams</h3>
  </div>
  <ul class="rtv-list rtv-list--program">
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">LIVE</span>
        <span class="rtv-link__title">Debatte über die Selbstbestimmungs-Initiative im Ständerat</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <span class="rtv-link__live">LIVE</span>
        <span class="rtv-link__title">Eishockey: Playoff-Viertelfinal, Fribourg - Lugano</span>
      </a>
    </li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-head__title">Jetzt im TV</h3>
    <a class="rtv-head__morelink" href="#">TV-Programm <span class="svg-icon svg-icon--arrow-right"></span></a>
  </div>
  <ul class="rtv-list rtv-list--program">
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <img class="rtv-link__tvlogo" src="{{ frameworkAssetPath }}/img/rtvlogos/tv-srf-1.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/tv-srf-1-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/tv-srf-1-3x.png 3x" alt="" />
        <span class="rtv-link__title">Kreuzfahrt ins Glück: Hochzeitreise nach Bermuda</span>
        <progress class="rtv-link__progress" value="58" max="100"></progress>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <img class="rtv-link__tvlogo" src="{{ frameworkAssetPath }}/img/rtvlogos/tv-srf-zwei.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/tv-srf-zwei-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/tv-srf-zwei-3x.png 3x" alt="" />
        <span class="rtv-link__title">Chicago Fire</span>
        <progress class="rtv-link__progress" value="21" max="100"></progress>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="#">
        <img class="rtv-link__tvlogo" src="{{ frameworkAssetPath }}/img/rtvlogos/tv-srf-info.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/tv-srf-info-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/tv-srf-info-3x.png 3x" alt="" />
        <span class="rtv-link__title">Auf und davon</span>
        <progress class="rtv-link__progress" value="78" max="100"></progress>
      </a>
    </li>
  </ul>

  <div class="rtv-head">
    <h3 class="rtv-head__title">Jetzt im Radio</h3>
    <a class="rtv-head__morelink" href="#">Radio-Programm <span class="svg-icon svg-icon--arrow-right"></span></a>
  </div>
  <ul class="rtv-list rtv-list--compact">
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-srf-1">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-1-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-1-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-srf-1-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio SRF&nbsp;1</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-srf-2">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-2-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-2-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-srf-2-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio SRF&nbsp;2 Kultur</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-srf-3">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-3-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-3-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-srf-3-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio SRF&nbsp;3</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-srf-4-news">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-4-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-4-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-srf-4-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio SRF&nbsp;4 News</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-srf-musikwelle">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-musikwelle-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-musikwelle-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-srf-musikwelle-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio SRF Musikwelle</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-srf-virus">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-virus-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-srf-virus-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-srf-virus-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio SRF Virus</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-swiss-pop">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-pop-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-pop-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-pop-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio Swiss Pop</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-swiss-classic">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-classic-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-classic-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-classic-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio Swiss Classic</span>
      </a>
    </li>
    <li class="rtv-list__element">
      <a class="rtv-link" href="/radio-swiss-jazz">
        <img class="rtv-link__radiologo" src="{{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-jazz-square.png" srcset="{{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-jazz-square-2x.png 2x, {{ frameworkAssetPath }}/img/rtvlogos/radio-swiss-jazz-square-3x.png 3x" alt="" />
        <span class="rtv-link__radiostation">Radio Swiss Jazz</span>
      </a>
    </li>
  </ul>
</div>
