{% block headertag %}
<header class="masthead js-masthead {{ themeStyleModifier }}" aria-labelledby="masthead-label">
{% endblock %}
    <div class="masthead__wrapper">
        <h2 id="masthead-label" class="h-offscreen">Header</h2>
        <div class="masthead__universal {{ mastheadUniversalModifier|default('') }}">
            <div class="masthead__logo">
                {% block logo %}
                    {% include 'atoms-main-logo' %}
                {% endblock %}
            </div>
            <nav class="masthead__portals" aria-labelledby="masthead-portals-label">
                <h3 id="masthead-portals-label" class="h-offscreen">{{ 'Rubriken' }}</h3>
                {% block portalsnav %}
                    {% include 'molecules-portalsnav' with {'styleModifier': ''} %}
                {% endblock %}
            </nav>
            <div class="masthead__button-wrapper">
                <nav aria-labelledby="radio-tv-nav-label">
                    <h3 id="radio-tv-nav-label" class="h-offscreen">TV/Radio-Menü</h3>
                    <button class="masthead__button" data-modal-id="modal-onairnav" aria-haspopup="false"
                            aria-expanded="false">
                        {% include 'atoms-icon-button' with {
                            'iconStyleModifier': 'svg-icon--play-video-circle',
                            'buttonText': 'TV/Radio',
                            'screenReaderText': 'TV/Radio-Menü'
                        } %}
                    </button>
                </nav>
                <nav aria-labelledby="main-nav-label">
                    <h3 id="main-nav-label" class="h-offscreen">Hauptmenü/Suche</h3>
                    <button class="masthead__button" data-modal-id="modal-menu" aria-haspopup="false"
                            aria-expanded="false">
                        {% include 'atoms-icon-button' with {
                            'iconStyleModifier': 'svg-icon--searchmenu',
                            'buttonText': 'Menü',
                            'styleModifier': 'icon-button--collapsing-text-tablet icon-button--spaceless-right-tablet',
                            'screenReaderText': 'Hauptmenü/Suche'
                        } %}
                    </button>
                </nav>
            </div>
        </div>
        {% block subnavigation %}
            <h3 class="h-offscreen">Subnavigation</h3>
            <div class="masthead__title {{ mastheadTitleModifier|default('') }}">
                <a href="/news" class="masthead__title-link">
                    {{ title|default('News') }}<span class="h-offscreen"> Übersicht</span>
                </a>
            </div>
            <div class="masthead__nav {{ mastheadNavModifier|default('') }}">
                {% include 'molecules-subnav' %}
            </div>
        {% endblock %}
    </div>
</header>
