{% if styleModifier == 'image-figure--video' %}

<figure class="image-figure {{ styleModifier }}">
    <div class="image-figure__image-wrapper">
        <img class="image-figure__image"
             alt="{{ images[0].caption.title }}"
             title="{{ images[0].caption.title }}"
             sizes="100vw"
             srcset="{% for source in images[0].sources %}
                        {{ source.src }} {{ source.width }}w
                        {{ loop.last ? '' : ',' }}
                     {% endfor %}"
             src="{{ images[0].sources.s8.src }}">

        {% block image_carousel_counter %}
            {% if currentIndex and totalCount %}
                {% include 'elements-carousel-counter' with { 'currentIndex': currentIndex, 'totalCount': totalCount } %}
            {% endif %}
        {% endblock %}

        <div class="article-video__link-meta">
            {% block play_icon %}
                {% include 'elements-play-icon' with { 'media': 'video' } %}
            {% endblock %}
            <span class="article-video__length">{{ video.length }}<span class="h-offscreen">min</span></span>
        </div>
    </div>
</figure>

{% else %}

<div class="article-video__wrapper">
    <img class="image-figure__image"
         alt="{{ images[0].caption.title }}"
         title="{{ images[0].caption.title }}"
         sizes="100vw"
         srcset="
            {% for source in images[0].sources %}
                {{ source.src }} {{ source.width }}w,
             {% endfor %}
         "
         src="{{ images[0].sources.s8.src }}">

    {% block plain_play_icon %}{# :( play_icon !! #}
        {% include 'elements-play-icon' with { 'media': 'video' } %}
    {% endblock %}
</div>

{% endif %}
