{% if styleModifier == 'imageCaptionStyle' %}

<figure class="image-figure {{ styleModifier }}">
    <div class="image-figure__image-wrapper">
        <img class="image-figure__image"
             alt="{{ images[0].caption.title }}"
             title="{{ images[0].caption.title }}"
             sizes="100vw"
             srcset="
                {% for source in images[0].sources %}
                    {{ source.src }} {{ source.width }}w,
                 {% endfor %}
             "
             src="{{ images[0].sources.s8.src }}">
        {% if currentIndex and totalCount %}
            {% include 'elements-carousel-counter' with { 'currentIndex': currentIndex, 'totalCount': totalCount } %}
        {% endif %}
    </div>
</figure>

<figcaption class="media-caption">
    <div class="media-caption__title">{{ video.title }}</div>
    <div class="media-caption__source media-caption__source--video">Aus <strong>{{ video.show.title }}</strong> vom {{ video.show.date|date("d.m.Y")  }}</div>
</figcaption>

{% else %}

<div class="article-video__wrapper">
    <img class="image-figure__image"
         alt="{{ images[0].caption.title }}"
         title="{{ images[0].caption.title }}"
         sizes="100vw"
         srcset="
            {% for source in images[0].sources %}
                {{ source.src }} {{ source.width }}w,
             {% endfor %}
         "
         src="{{ images[0].sources.s8.src }}">
    <img class="article-video__play-icon" src="../../assets/img/video-play.svg" width="72" height="72" alt="">
</div>

<figcaption class="media-caption media-caption--video">
    <div class="media-caption__title media-caption__title--video">{{ video.title }}</div>
    <div class="media-caption__source media-caption__source--video">Aus <strong>{{ video.show.title }}</strong> vom {{ video.show.date|date("d.m.Y")  }}</div>
</figcaption>

{% endif %}
