{% set headerType = headerType|default("") %}
{% include 'atoms-skiplink' %}
<h1 class="h-offscreen">{{ title }}</h1>

<div class="affix-placeholder affix-placeholder--{{ headerType }} affix-placeholder--{{ variantModifier }} js-affix-placeholder"></div>

{% if headerType == "home" %}
    <div class="sticky-container sticky-container--{{ headerType }} sticky-container--{{ variantModifier }} affix-top js-affix">
        {% include 'organisms-masthead--home' with {
            "variantModifier": variantModifier,
            "themeStyleModifier": themeStyleModifier,
            "headerType": headerType
        } %}
    </div>
{% else %}
    <div class="sticky-container affix-top js-affix">
        {% include 'organisms-masthead' with {
            "themeStyleModifier": themeStyleModifier,
            "title": title,
            "mastheadUniversalModifier": "sticky-container__hidden-when-sticky",
            "mastheadTitleModifier": "sticky-container__hidden-when-sticky"
        } %}
    </div>
{% endif %}

{% block content_header %}{% endblock %}

{% include 'atoms-skiplink-target' %}
<section class="landingpage">
    {% block landingpage_content %}
        [-- LANDINGPAGE CONTENT --]
    {% endblock %}
</section>

{% block demo_content %}{% endblock %}

{% include 'organisms-rlp-footer' %}

{% include 'organisms-modal-menu' %}
{% include 'organisms-modal-onairnav' %}
{% include 'organisms-modal-search' %}
