{% set headerType = headerType|default("") %}

<div class="affix-placeholder affix-placeholder--{{ headerType }} affix-placeholder--{{ variantModifier }}"></div>

{% if headerType == "home" %}
    <div class="sticky-container sticky-container--{{ headerType }} sticky-container--{{ variantModifier }} affix-top js-affix">
        {% include 'organisms-masthead--home' with {"variantModifier": variantModifier, "themeStyleModifier": themeStyleModifier, "headerType": headerType} %}
    </div>
{% else %}
    <div class="sticky-container affix-top js-affix">
        {% include 'organisms-masthead' with {"themeStyleModifier": themeStyleModifier} %}
    </div>
{% endif %}

<h1 class="h-offscreen">{{ title }}</h1>

<section class="landingpage">
    {% block landingpage_content %}
        [-- LANDINGPAGE CONTENT --]
    {% endblock %}
</section>

{% block demo_content %}{% endblock %}

{% include 'organisms-rlp-footer' %}

{% include 'organisms-modal-menu' %}
{% include 'organisms-modal-onairnav' %}
{% include 'organisms-modal-search' %}
