{% set hintAvailable = hintText is defined and hintText is not empty %}
{% if labelText is defined and labelText is not empty %}<label for="{{ fieldID|default('menu-ID') }}" class="menu-label {{ styleModifier }}">{{ labelText|default("Bitte wählen") }}</label>{% endif %}
<select class="menu" aria-labelledby="{{ fieldID|default('menu-ID') }}" id="{{ fieldID|default('menu-ID') }}">
    {% for option in menu %}
        <option value="{{ option.key }}">{{ option.val }}</option>
    {% endfor %}
</select>
<span class="input-field-hint {{ styleModifier }}" id="{{ fieldID }}-hint">{{ hintText|default("Hint") }}</span>