<form {% if form.id != '' %}id="{{ form.id|default("form-ID") }}" {% endif %}class="form {{ styleModifier }}"
      name="{{ form.id|default("form-ID") }}" method="{{ form.method|default("get") }}">
    <label form="{{ form.id|default("form-ID") }}" class="form__label">{{ form.title }}</label>
    <fieldset class="form-fieldset">
        <legend class="form-fieldset__legend">{{ form.legend }}</legend>
        {% set hintFieldID = 'checkbox-fieldset-ID' %}
        {% include 'atoms-checkbox' with { 'fieldID': 'checkbox-ID1', 'required': true, 'hintFieldlID': hintFieldID } %}
        {% include 'atoms-checkbox' with { 'fieldID': 'checkbox-ID2', 'required': false, 'hintFieldlID': hintFieldID } %}
        <span class="form-fieldset__hint {{ styleModifier }}"
              id="{{ hintFieldID }}-hint">{{ hintText|default("Hint") }}</span>
    </fieldset>
    <fieldset class="form-fieldset">
        <legend class="form-fieldset__legend">{{ form.legend }}</legend>
        {% set hintFieldID = 'radio-button-fieldset-ID' %}
        {% include 'atoms-radio-button' with { 'fieldID': 'radio-button-ID1', 'hintFieldlID': hintFieldID } %}
        {% include 'atoms-radio-button' with { 'fieldID': 'radio-button-ID2', 'hintFieldlID': hintFieldID } %}
        <span class="form-fieldset__hint {{ styleModifier }}"
              id="{{ hintFieldID }}-hint">{{ hintText|default("Hint") }}</span>
    </fieldset>
    <fieldset class="form-fieldset">
        {% if legendTitle is defined %}
            <legend class="form-fieldset__legend">{{ legendTitle|default('') }}</legend>{% endif %}
        {% include 'atoms-input-field' with { 'labelText': 'Name, Vorname', 'hintText': '', 'fieldID': 'input-ID1', 'inputType': 'text', 'required': true } %}
        {% include 'atoms-input-field' with { 'labelText': 'Geburtstag', 'hintText': 'Format: dd.mm.YYY', 'fieldID': 'input-ID2', 'inputType': 'date', 'required': true } %}
        {% include 'atoms-select-menu' with { 'fieldID': 'menu-ID', 'labelText': 'Bitte wählen', 'required': false } %}
        {% include 'atoms-button' with { 'styleModifier' : 'button--secondary', 'buttonText' : form.button.upload } %}
    </fieldset>
    <p class="form__hint">{{ form.hint }}</p>
    {% include 'atoms-button' %}
</form>