<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../assets/css/main.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/global/colors/colors.css?{{ cacheBuster }}" media="all" />
  </head>
  <body class="{{ bodyClass }}">

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{ patternLabHead | raw }}
  <!-- End Pattern Lab -->

