<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../assets/demo/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/{{ criticalCssFile|default('c_article.css') }}?{{ cacheBuster }}" media="all" />
    {% if not criticalCssOnly|default(false) %}
    <link rel="stylesheet" href="../../assets/css/main.css?{{ cacheBuster }}" media="all" />
    {% endif %}

  </head>
  <body class="{{ bodyClass }}">
    <script src="../../assets/js/vendor.js?{{ cacheBuster }}"></script>
    <script src="../../assets/js/bundle.js?{{ cacheBuster }}"></script>
    {# inline svg of srf logo for global use #}
    {% include 'atoms-inline-main-logo' %}
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{ patternLabHead | raw }}
  <!-- End Pattern Lab -->
  <!-- Begin of main wrapper-->
