<div class="expand-icon {{ styleModifier|default("") }}">
  {% if 'expand-icon--with-text' in styleModifier %}
    <span class="expand-icon__text expand-icon__text--to-open">{{ textOpen|default("Navigation aufklappen") }}</span>
    <span class="expand-icon__text expand-icon__text--to-close">{{ textClose|default("Navigation zuklappen") }}</span>
  {% endif %}

  <span class="expand-icon__icon">
    <span class="expand-icon__a11y-open h-offscreen">{{ textOpen|default("Navigation aufklappen") }}</span>
    <span class="expand-icon__a11y-close h-offscreen">{{ textClose|default("Navigation zuklappen") }}</span>
  </span>
</div>
