<a class="navigation-link {% if "navigation-link--expandable" in styleModifier %}js-expand-icon {% endif %}{{ styleModifier|default("") }}" href="{{ url|default("#") }}">
  {% if img is defined %}
    <img class="navigation-link__img" src="{{ frameworkAssetPath }}{{ img }}" alt="{{ alt|default("") }}">
  {% endif %}
  <span class="navigation-link__text">
    {{ text|default("") }}
  </span>
  {% if "navigation-link--expandable" in styleModifier %}
  <span class="navigation-link__icon">
    {% include 'atoms-expand-icon' with { 'styleModifier': '' } %}
  </span>
  {% endif %}
</a>
