<a class="onairnav-link {{ styleModifier|default('') }}" href="{{ url|default('#') }}">
  {% if media is defined %}
    {% if 'onairnav-link__media--live' in styleModifierMedia %}
      <span class="onairnav-link__media onairnav-link__media--live">{{ media }}</span>
    {% else %}
      <div class="onairnav-link__media-wrapper">
        <img class="onairnav-link__media {{ styleModifierMedia|default('') }}"
             src="{{ frameworkAssetPath }}{{ media }}"
             alt="{{ mediaAlt|default('') }}"
             aria-hidden="true" role="presentation">
        {% if mediaLabel is defined %}
          <span class="onairnav-link__media-label">{{ mediaLabel }}</span>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}

  {% if ('onairnav-link__media--live' in styleModifierMedia) or (progress is defined) %}
    {% if 'onairnav-link__media--live' in styleModifierMedia %}
      {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--dark'} %}
    {% endif %}
    {% include 'atoms-shimmer' with {'styleModifier': 'shimmer--dark shimmer--short'} %}
  {% endif %}
  <span class="onairnav-link__title {{ styleModifierTitle|default('') }}">{{ title|default('') }}</span>

  {% if progress is defined %}
    <progress class="onairnav-link__progress" value="{{ progress }}" max="100" aria-hidden="true"></progress>
    <span class="h-offscreen">{{ progress }}% der Sendung wurde bereits gezeigt.</span>
  {% endif %}
</a>
