<form autocomplete="off" class="searchbox {{ styleModifier }}" action="{{ header.form_action|default('suche') }}" role="search">
    <a href="#" class="close-search h-element--hide"><img src="{{ frameworkAssetPath }}/img/close.svg" with="10" height="10"/></a>

    <label for="search-site" class="h-offscreen">{{ header.searching }}</label>
    <input class="searchbox__input" name="q"
           id="search-site"
           data-typeahead-url="{{ header.typeahead_url|default('/assets/demo/typeahead_search.json') }}"
           data-referrer-track="srf_suchfeld=header"
           type="text" placeholder="{{ header.search|default("Suche") }}"
           aria-describedby="searchbox-accessible-instructions" aria-owns="searchbox__results" aria-expanded="false"
           aria-autocomplete="both" aria-activedescendant=""
    >
    <button type="submit" class="h-offscreen" tabindex="-1" aria-hidden="true">{{ header.searching }}</button>
    <ul id="searchbox__results" class="searchbox__results h-element--hide" role="listbox" tabindex="0" role="listbox"
        ></ul>
    <span id="searchbox-accessible-instructions"
          style="display: none;">{{ header.search_offscreen_text|default('Wenn Autocomplete Vorschläge vorhanden sind, verwenden Sie bitte die Oben- und Unten-Pfeiltasten um durch die Vorschläge zu navigieren. Mit der Enter Taste können Sie einen Vorschlag auswählen.') }}</span>
</form>


