<form autocomplete="off" class="searchbox {{ search.styleModifier|default('searchbox--header') }}" action="{{ search.form_action|default('suche') }}" role="search">
    <a href="#" class="close-search h-element--hide"><img src="{{ frameworkAssetPath }}/img/close.svg" width="10" height="10"/></a>

    <label for="search-site" class="h-offscreen">{{ search.searching|default("Suchen") }}</label>
    <input class="searchbox__input" name="q"
           id="search-site"
           data-typeahead-url="{{ search.typeahead_url|default('/assets/demo/typeahead_search.json') }}"
           data-referrer-track="srf_suchfeld={{ search.referrerTrack|default('') }}"
           type="text" placeholder="{{ search.search|default("Suche") }}"
    >
    <button type="submit" class="h-offscreen" tabindex="-1" aria-hidden="true">{{ search.searching|default("Suchen") }}</button>
    <ul id="searchbox__results" class="searchbox__results h-element--hide" role="listbox" tabindex="0" role="listbox"></ul>
</form>


