<form autocomplete="off"
      class="searchbox {{ search.styleModifier|default('searchbox--header') }}"
      action="{{ search.form_action|default('suche') }}"
      role="search">

    <label for="{{ search.id|default('search') }}" class="h-offscreen">{{ search.searching|default("Suchen") }}</label>
    <input class="searchbox__input" name="q"
           id="{{ search.id|default('search') }}"
           data-typeahead-url="{{ search.typeahead_url|default('/assets/demo/typeahead_search.json') }}"
           data-referrer-track="srf_suchfeld={{ search.referrerTrack|default('') }}"
           type="text" placeholder="{{ search.search|default("Suche") }}"
    >
    <a href="#" class="close-search h-element--hide"><img src="{{ frameworkAssetPath }}/img/close.svg" title="{{ search.close|default("Suchfeld schliessen") }}" width="10" height="10" alt="{{ search.close|default("Suchfeld schliessen") }}"/></a>

    <button type="submit" class="h-offscreen" tabindex="-1" aria-hidden="true">{{ search.searching|default("Suchen") }}</button>
    <ul id="{{ search.search_results|default("searchbox__results") }}"
        class="searchbox__results h-element--hide"
        tabindex="-1"
        aria-hidden="true"></ul>
</form>


