<div class="swipemod l-full-width-container">
  <div class="swipemod-container">
    <h3><span class="h-offscreen" aria-hidden="true">Mehr aus </span>Schweiz</h3>
    <div class="swipemod-swipe">
      <article class="swipemod-item">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
      <article class="swipemod-item">
        <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </article>
    </div>
  </div>
</div>