<div class="swipemod l-full-width-container">
  <div class="swipemod-container">
    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer">
      <a href="#" class="swipemod-item swipemod-item--single">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>
  </div>
</div>



<div class="swipemod l-full-width-container">
  <div class="swipemod-container">
    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer">
      <a href="#" class="swipemod-item swipemod-item--duo">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item swipemod-item--duo">
        <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>
  </div>
</div>


<div class="swipemod l-full-width-container">
  <div class="swipemod-container">
    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer">
      <a href="#" class="swipemod-item">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>
  </div>
</div>

<div class="swipemod l-full-width-container">
  <div class="swipemod-container">
    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer">
      <a href="#" class="swipemod-item swipemod-item--first">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item swipemod-item--last">
        <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>
  </div>
</div>