<section class="swipemod l-main-wrapper">
  <div class="l-main-wrapper__space l-card">
    <h3 class="h-offscreen">Mehr aus&nbsp;Schweiz (8)</h3>

    <a href="#" class="swipemod-showall">
      <h3 class="swipemod-showall__title" aria-hidden="true" role="presentation">
        <span class="swipemod-showall__title--extended">Mehr aus&nbsp;</span>Schweiz (8)
      </h3>
      <div class="swipemod-showall__text">Alle anzeigen</div>
      <div class="swipemod-showall__icon"></div>
    </a>

    <div class="swipemod-container swipemod-container--2ormore swipemod-container--3ormore swipemod-container--4ormore">
      <ul class="swipemod-swipecontainer">
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
        <li class="swipemod-item">
          <a href="#">
            <div class="swipemod-imagecontainer" aria-hidden="true" role="presentation">
              <div class="swipemod-imagecontainer__inner">
                <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
              </div>
            </div>
            <h4 class="swipemod-item__title">
              <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
              <span class="h-offscreen" aria-hidden="true"> - </span>
              {{ articleHeader.title }}
            </h4>
          </a>
        </li>
      </ul>
    
      <button class="swipemod-button swipemod-button__left" data-direction="left" aria-disabled="false">
        <span class="h-offscreen h-offscreen-focusable">Vorherige Artikel</span>
      </button>
      <button class="swipemod-button swipemod-button__right" data-direction="right" aria-disabled="false">
        <span class="h-offscreen h-offscreen-focusable">Nächste Artikel</span>
      </button>
    
    </div>
  </div>
</section>