<section class="swipemod l-full-width-container">
  <div class="swipemod-container">

    <button class="swipemod-button swipemod-button__left"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">Vorherige Artikel</span>
    </button>

    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz (1)</h3>
    </div>
    <div class="swipemod-swipecontainer">
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>

    <button class="swipemod-button swipemod-button__right"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">N채chste Artikel</span>
    </button>

  </div>
</section>

<section class="swipemod l-full-width-container">
  <div class="swipemod-container">

    <button class="swipemod-button swipemod-button__left"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">Vorherige Artikel</span>
    </button>

    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz (2)</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer swipemod-swipecontainer--2ormore">
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>

    <button class="swipemod-button swipemod-button__right"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">N채chste Artikel</span>
    </button>

  </div>
</section>

<section class="swipemod l-full-width-container">
  <div class="swipemod-container">

    <button class="swipemod-button swipemod-button__left"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">Vorherige Artikel</span>
    </button>

    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz (3)</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer swipemod-swipecontainer--2ormore swipemod-swipecontainer--3ormore">
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>

    <button class="swipemod-button swipemod-button__right"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">N채chste Artikel</span>
    </button>

  </div>
</section>

<section class="swipemod l-full-width-container">
  <div class="swipemod-container">

    <button class="swipemod-button swipemod-button__left"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">Vorherige Artikel</span>
    </button>

    <div class="swipemod-titlecontainer">
      <h3 class="swipemod-title"><span class="h-show-tablet-up" aria-hidden="false">Mehr aus&nbsp;</span>Schweiz (8)</h3>
      <a href="#" class="swipemod-showall"><span class="h-show-tablet-up" aria-hidden="false">Alle anzeigen</span></a>
    </div>
    <div class="swipemod-swipecontainer swipemod-swipecontainer--2ormore swipemod-swipecontainer--3ormore swipemod-swipecontainer--4ormore">
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[0].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[1].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[2].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
      <a href="#" class="swipemod-item">
        <div class="swipemod-imagecontainer">
          <img src="{{ images[3].sources.s8.src }}" alt="Alt-Text" class="swipemod-image" />
        </div>
        <h4 class="swipemod-item__title">
          <span class="swipemod-item__overline">{{ articleHeader.kicker }}</span>
          <span class="h-offscreen" aria-hidden="true"> - </span>
          {{ articleHeader.title }}
        </h4>
      </a>
    </div>

    <button class="swipemod-button swipemod-button__right"
          aria-disabled="false">
      <span class="h-offscreen h-offscreen-focusable">N채chste Artikel</span>
    </button>

  </div>
</section>